// Custom mixins
@import "foundation/components/visibility";
@import "settings/svgpng";
@import "settings/retina-backgrounds";

// Background
.series-the-counselor {
  @include background-image-2x-jpg('/images/watch/2014-the-counselor/background');
  background-repeat: repeat-x;
  background-color: #000;
  background-size: 500px 484px;
  background-position: center top;
}

.section-first {
  padding-top: 45px;
  margin-bottom: -160px;
}

.watch-messages {
  //padding-top: 0 !important;
}

.section-last.section-light,
.footer-light .page-footer {
  //background: #000;
}

h2.underlined {
  margin-top: 0 !important;
}

.slide-1 {
  position: relative;
  z-index: 5;
}

.the-counselor-1 {
  position: relative;
  height: 415px;
  width: 100%;
  top: -160px;
  overflow: hidden;
  padding-top: 130px;

  @media #{$medium-up} {
    height: 490px;
  }
}

.inner {
  @media #{$medium-up} {
    @include background-image-2x-jpg('/images/watch/2014-the-counselor/inner');
    background-color: #000;
    background-repeat: no-repeat;
    background-size: 1500px 496px;
    background-position: center top;
    margin-top: -130px;
    padding-top: 130px;
    height: 500px;
    position: absolute;
    width: 100%;
  }
}

.the-counselor-2 {
  background: #fff;
}

// Series Logo
.series-the-counselor h1 {
  width: 100%;
  height: 59px;
  //@include svg-image('/images/watch/2014-the-counselor/the-counselor-title');
  //background-repeat: no-repeat;
  //background-position: left;
  //background-size: contain;
  //text-indent: -999em;
  margin-top: 25px;

  @media #{$medium-up} {
    margin-top: 75px;
    margin-bottom: 20px;
  }
}

.slide-1 a {
  position: relative;
  //margin-top: 15px;
  z-index: 8;
  color: #86def7 !important;
  &:hover {
    opacity: .7;
  }
}


// Styles for medium up displays

  .section-first {
    padding-bottom: 0;
  }


    // The main couch
    .couch {
      @media #{$medium-up} {
        position: absolute;
        opacity: 0;
        left: 0;
        right: 0;
        top: 390px;
        margin-left: -80px;
        height: 310px;
        width: 100%;
        background: url("/images/watch/2014-the-counselor/couch.png") center top no-repeat;
        z-index: 2;
        background-size: 631px 305px;
      }
    }

    // Person general styles
    .person {
      position: absolute;
      left: 0;
      right: 0;
      top: -130px;
      height: 517px;
      width: 100%;
      z-index: 1;
      margin-left: 84px;

      @media only screen and (max-width: 700px) {
        margin-left: 35px !important;
      }
    }

    // Person state 2
    .person.state-2 {
      height: 355px;
      z-index: 3;
      z-index: 1;
      margin-left: 84px;
    }

    // Person state 3
    .person.state-3 {
      height: 489px;
      z-index: 3;
      margin-left: 84px
    }

    // Imagery for person 1

      .person {
        &.person-1.state-1 {
          background: url("/images/watch/2014-the-counselor/person-1-1.png") center top no-repeat;
          margin-left: 0;

          &.state-2 {
            background: url("/images/watch/2014-the-counselor/person-1-2.png") center top no-repeat;
            top: 232px !important;
            margin-left: 5px;

            &.state-3 {
              background: url("/images/watch/2014-the-counselor/person-1-3.png") center top no-repeat;
              top: 232px !important;
              margin-left: 5px;
            }
          }
        }

        &.person-2.state-1 {
          background: url("/images/watch/2014-the-counselor/person-2-1.png") center top no-repeat;
          margin-left: 0;

          &.state-2 {
            background: url("/images/watch/2014-the-counselor/person-2-2.png") center top no-repeat;
            top: 232px !important;
            margin-left: 5px;

            &.state-3 {
              background: url("/images/watch/2014-the-counselor/person-2-3.png") center top no-repeat;
              top: 232px !important;
              margin-left: 5px;
            }
          }
        }
      }

      .person-1-thin {
        background: url("/images/watch/2014-the-counselor/person-1-thin.png") center top no-repeat;
        width: 100%;
        height: 300px;
        position: absolute;
        top: 500px;
        margin-left: 0 !important;
      }

      .person-2-thin {
        background: url("/images/watch/2014-the-counselor/person-2-thin.png") center top no-repeat;
        width: 100%;
        height: 300px;
        position: absolute;
        top: 500px;
      }

      .quote-1,
      .quote-2 {
        max-width: 600px;
        margin: 0 auto;
        padding: 0 20px;

        @media #{$medium-up} {
          padding: 0 0 0 140px;
          margin: 70px auto 0;
        }
      }

      .quote-3 {
        max-width: 600px;
        margin: 70px auto 0;
        padding: 0 20px;

        @media #{$medium-up} {
          margin: 120px auto 0;
          padding: 0;
        }
      }


    // Imagery for person 2

      .person-2 {


        // State 2
        &.state-2 {
          background: url("/images/watch/2014-the-counselor/person-2-2.png") center top no-repeat;

          @media only screen and (max-width: 700px) {
            background-size: 330px 177px;
          }
        }

        // State 3
        &.state-3 {
          background: url("/images/watch/2014-the-counselor/person-2-3.png") center top no-repeat;


        }
      }


    // Imagery for person 3

      .person-3 {
        // State 1
        &.state-1 {
          background: url("/images/watch/2014-the-counselor/person-3-1.png") center top no-repeat;

          @media only screen and (max-width: 700px) {
            background-size: 371px 258px;
          }
        }

        // State 2
        &.state-2 {
          background: url("/images/watch/2014-the-counselor/person-3-2.png") center top no-repeat;

          @media only screen and (max-width: 700px) {
            background-size: 330px 177px;
          }
        }

        // State 3
        &.state-3 {
          background: url("/images/watch/2014-the-counselor/person-3-3.png") center top no-repeat;

          @media only screen and (max-width: 700px) {
            background-size: 324px 244px;
          }
        }
      }
