// Button
.button {

  // Button Radius
  &.radius {
    @include border-radius(100px);
      
    // Button Radius Red
    &.red {
      background-color: $red;
      &:hover {
        background: darken($red, 10%);
      }
    }

    // Button Radius Inverse
    &.inverse {
      background: none;
      border: $primary-color 2px solid;
      color: $primary-color;
      @include transition-property(all);
      @include transition-duration(.15s);
      &:hover {
        border-color: darken($primary-color, 10%);
        color: darken($primary-color, 10%);
      }

      // Button Radius Inverse Red
      &.red {
        border-color: $red;
        color: $red;
        &:hover {
          border-color: darken($red, 10%);
          color: darken($red, 10%);
          background: none;
        }
      }
    }
  }
}


// Action

.action {
  margin-right: 1em;
  font-weight: 200;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: auto 90%;
  padding-right: 22px;
  padding-bottom: 1px;
  line-height: 1.2em;
  font-size: rem-calc(16);

  @media #{$medium-up} {
    font-size: rem-calc(24);
    padding-right: 32px;
  }

  &.small {
    font-size: rem-calc(16);
    padding-right: 22px;
  }

  &.large {
    font-size: rem-calc(16);
    padding-right: 22px;
    padding-bottom: 3px;

    @media #{$medium-up} {
      font-size: rem-calc(32);
      padding-right: 45px;
    }
  }

  // Arrow 1
  &.arrow-1-gray:hover,
  &.arrow-1-black { @include svg-image('/images/icons/action-arrow-1-black'); color: $black; }
  &.arrow-1-black:hover,
  &.arrow-1-white:hover,
  &.arrow-1-gray { @include svg-image('/images/icons/action-arrow-1-gray'); color: $gray; }
  &.arrow-1-white { @include svg-image('/images/icons/action-arrow-1-white'); color: #fff; }

  // Arrow 2
  &.arrow-2-gray:hover,
  &.arrow-2-black { @include svg-image('/images/icons/action-arrow-2-black'); color: $black; }
  &.arrow-2-black:hover,
  &.arrow-2-white:hover,
  &.arrow-2-gray { @include svg-image('/images/icons/action-arrow-2-gray'); color: $gray; }
  &.arrow-2-white { @include svg-image('/images/icons/action-arrow-2-white'); color: #fff; }

  // Play
  &.play-1-gray:hover,
  &.play-1-black { @include svg-image('/images/icons/action-play-1-black'); color: $black; }
  &.play-1-black:hover,
  &.play-1-white:hover,
  &.play-1-gray { @include svg-image('/images/icons/action-play-1-gray'); color: $gray; }
  &.play-1-white { @include svg-image('/images/icons/action-play-1-white'); color: #fff; }

  // Play 2
  &.play-2-gray:hover,
  &.play-2-black { @include svg-image('/images/icons/action-play-2-black'); color: $black; }
  &.play-2-black:hover,
  &.play-2-white:hover,
  &.play-2-gray { @include svg-image('/images/icons/action-play-2-gray'); color: $gray; }
  &.play-2-white { @include svg-image('/images/icons/action-play-2-white'); color: #fff; }
}

// Remove icons if "background size" isn't available on the browser
.no-backgroundsize .action {
  background: none !important;
  padding-right: 0 !important;
}