.page-footer {
  // Set type color & size
  p, li {
    font-size: .8em;
    color: $gray;
  }

  // Make the footer line height smaller
  p { margin-bottom: 8px; }

  // Styling for top of footer (line, spacing, etc.)
  .large-6 {
    border-top: 1px solid rgba(0,0,0,.10);
    padding: 2em 0;
    margin-top: 2em;
  }
}