// Page Section styles

  .padded {
    padding-top: 3em;
  }

  .page-section {
    padding-top: 4.5em;
    padding-bottom: 4.5em;
  }

  // First section (pull it over the navigation)
  .section-first {
    margin-top: -165px;
    padding-top: 165px;
  }
  
  // Last section (pull footer closer)
  .section-last {
    margin-bottom: -40px;
  }

  // Last section (darken to match default footer color when "light")
  .section-last.section-light {
    background: $black;
  }

  // Change section coloring to white
  .section-light {
    h1,h2,h3,h4,h5,h6,p,a,.button {
      color: #fff !important;
      border-color: #fff !important;
    }
  }

  // Change navigation coloring to white if first section is white
  .header-light {
    .nav-more span {
      background: #fff !important;
    }
    .nav-more:hover span {
      background: #ccc !important;
    }
    .logo {
      @include svg-image('/images/branding/logomark-white');
    }
    .primary-links a {
      color: #fff;
      &:hover { color: #ccc; }
    }
    .page-tertiary {
      border-color: rgba(255,255,255,.4);
    }

    .tertiary-nav a {
      color: #fff !important;
    }
  }

  // Red logo & red titles when "header-red" gets applied
  .header-red .logo { @include svg-image('/images/branding/logomark-red'); }
  .header-red h1, .header-red h2 { color: $red; }

  // Change footer navigation coloring to white if last section is white
  .footer-light {
    .page-footer {
      background: $black;
      border-color: rgba(255,255,255,.4) !important;
      .columns {
        border-color: rgba(255,255,255,.4) !important;
      }
      p { color: #fff !important; }
      a { color: lighten($primary-color, 30%); }
    }
  }


// Giving page section styles

  .section-giving-tithe {
    background: url("http://placekitten.com/1000/700") no-repeat;
    background-size: cover;
    background-position: center;
  }

  .section-giving-spaces-places {
    background: #eee;
  }

  .section-giving-relief-restoration {
    background: url("http://placekitten.com/1000/699") no-repeat;
    background-size: cover;
    background-position: center;
  }

  .section-giving-digital-missions {
    background: #eee;
  }


// LifeGroups page section list-style-position: 

  .section-lifegroups-top-buttons {
    margin-top: 100px;
  }

  .section-lifegroups-top {
    padding-bottom: 8px;
  }

  .lifegroups-hero-1 {
    left: 0;
    background: url("http://placekitten.com/1000/701") no-repeat;
    border-right: 1px solid #fff;
  }

  .lifegroups-hero-2 {
    right: 0;
    background: url("http://placekitten.com/1000/700") no-repeat;
  }

  .lifegroups-hero-1,
  .lifegroups-hero-2 {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    height: 572px;
    background-size: cover;
    background-position: center;
  }