// Type colors
.text-primary { color: $primary-color; }
.text-secondary { color: $secondary-color; }
.text-red { color: $red; }
.text-gray { color: $gray; }

h1,h2,h3 {
  letter-spacing: -1px;
}

h1 {
  font-weight: 600;
  margin-top: 25px;
}

h4,h5 {
  font-weight: 300;
}

h5 {
  font-style: italic;
  color: $gray;
}

.lead {
  font-weight: 300;
  font-size: 1.5em !important;
}