// Watch Feature Slider
.watch-featured {
  max-height: 400px !important;
  overflow: hidden;
  img { width: 100%; }
}

// Remove Orbit timers
.orbit-timer {
  display: none !important;
}

// Squeeze tertiary closer to content on watch page
.page-watch .page-tertiary {
  border-bottom: 0;
  margin-bottom: 0;
}

.play-message {
  margin-top: 3px;
}