// Foundation
@import "settings";
@import "foundation";

// Compass mixins
@import "compass/css3/transition";
@import "compass/css3/border-radius";

// Custom mixins
@import "svgpng";

// Variables
$black: #1e1e1e;
$gray: #929292;
$red: #B9252D;

// Design
@import "type";
@import "more";
@import "header";
@import "watch";
@import "footer";
@import "buttons";