// Foundation
@import "settings/settings";
// @import "foundation/components/accordion";
@import "foundation/components/alert-boxes";
@import "foundation/components/block-grid";
@import "foundation/components/breadcrumbs";
// @import "foundation/components/button-groups";
@import "foundation/components/buttons";
// @import "foundation/components/clearing";
@import "foundation/components/dropdown";
@import "foundation/components/dropdown-buttons";
@import "foundation/components/flex-video";
@import "foundation/components/forms";
@import "foundation/components/grid";
@import "foundation/components/inline-lists";
// @import "foundation/components/joyride";
// @import "foundation/components/keystrokes";
@import "foundation/components/labels";
@import "foundation/components/magellan";
@import "foundation/components/orbit";
// @import "foundation/components/pagination";
@import "foundation/components/panels";
// @import "foundation/components/pricing-tables";
// @import "foundation/components/progress-bars";
// @import "foundation/components/reveal";
// @import "foundation/components/side-nav";
// @import "foundation/components/split-buttons";
@import "foundation/components/sub-nav";
// @import "foundation/components/switch";
@import "foundation/components/tables";
// @import "foundation/components/tabs";
@import "foundation/components/thumbs";
// @import "foundation/components/tooltips";
// @import "foundation/components/top-bar";
@import "foundation/components/type";
// @import "foundation/components/offcanvas";
@import "foundation/components/visibility";

// Compass mixins
@import "compass/css3/transition";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/images";

// Custom mixins
@import "settings/svgpng";
@import "settings/retina-backgrounds";

// Custom Settings
@import "settings/foundation-overrides";

// Variables
$black: #1e1e1e;
$gray: #929292;
$red: #B9252D;

// Quick classes

  @media #{$small-only} {
    .small-text-center { text-align: center; }
  }

  @media #{$large-up} {
    .large-right { float: right; }
    .large-left { float: left; }
    .large-text-right { text-align: right; }
    .large-text-left { text-align: left; }
  }
  @media #{$medium-up} {
    .medium-right { float: right; }
    .medium-left { float: left; }
    .medium-text-right { text-align: right; }
    .medium-text-left { text-align: left; }
    .medium-text-center { text-align: center; }
  }


// Design
@import "design/fonts";
@import "design/type";
@import "design/more";
@import "design/header";
@import "design/footer";
@import "design/buttons";
@import "design/sections";
@import "design/involved-list";
@import "design/video-player";
@import "design/search";
@import "design/announcements";

// Pages
@import "pages/home";
@import "pages/watch";
@import "pages/locations";
@import "pages/giving";
@import "pages/lifegroups";
@import "pages/kids";
@import "pages/about";
@import "pages/chazown";


code {
  background-color: #ededed;
  border-color: #dddddd;
  color: #444;
  border-style: solid;
  border-width: 1px;
  margin: 0;
  font-family: "Consolas", "Menlo", "Courier", monospace;
  font-size: 0.875rem;
  padding: 0.125rem 0.25rem 0;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
