<li id="{{ item.id }}" class="item involved-item">
  <div class="panel">
    <img data-interchange="[{{ item.image_small }}, (default)], [{{ item.image_medium }}, (medium)]" alt="{{ item.title }}" />
    <noscript><img src="{{ item.image_small }}" alt="{{ item.title }}" /></noscript>
    <h6>{{ item.title }}</h6>
    <p class="detail">{{ item.description_medium | newline_to_br }}</p>

    <div class="cta">
      <p>
        <a href="#"
           class="action small get-involved"
           onclick="ga('send', 'event', '{{ type }}', 'Click', 'Expand {{ item.title }}');">
           Get Involved <i class="icon icon-arrow"></i>
        </a>
      </p>

      <form class="form-involved" action="http://lifechurch-site-mailer.herokuapp.com/involved" method="post">
        {% if page.title == "Serving Opportunities" %}
          <input type="hidden" class="recipient" name="recipient" value="{{ item.recipient }}" />
          <input type="hidden" class="title" name="subject" value="{{ item.location }} - {{ item.title }}" />
          {% else %}
          <input type="hidden" class="recipient" name="recipient" value="{{ location.email }}" />
          <input type="hidden" class="title" name="subject" value="{{ location.title }} - {{ item.title }}" />
        {% endif %}
        <hr />
        <h6>Get Connected</h6>
        <p class="detail">Give us your email address or phone number and we'll get back to you on how to get started. <span class="text-gray">(Email only outside of US, please.)</span></p>
        <input type="text" class="details" name="detail" placeholder="Email or Phone number" />
        <input type="submit"
               class="button small submit-involved"
               value="Send to LifeChurch.tv"
               onclick="ga('send', 'event', '{{ type }}', 'Click', 'New {{ item.title }}');" />
      </form>
    </div>

  </div>
</li>
