<hr />

<article id="{{ mission.id }}" class="missions-item">
  <div class="row">
    <div class="medium-3 columns">
      <img src="{{ mission.image }}" alt="" />
    </div>
    <div class="medium-9 columns">
      <h3>{{ mission.title }}</h3>
      <p>{{ mission.shortDescription }}</p>
      <div class="cta">
        <p>{% if mission.website %}<a class="action" href="{{ mission.website }}">Visit Site <i class="icon icon-arrow-2"></i></a> {% endif %}<a class="action get-involved" href="#">Get Involved <i class="icon icon-arrow-2"></i></a></p>
        
        <form>
          <input name="recipient" type="hidden" value="someonebrave@lifechurch.tv">
          <input name="subject" type="hidden" value="{{ mission.title }}">
          <h6>Get Connected</h6>
          <p class="detail">Give us your email address or phone number and we'll get back to you on how to get started.</p>
          <div class="row">
            <div class="medium-4 columns">
              <input type="text" placeholder="Email or Phone number" />
            </div>
            <div class="medium-4 columns">
              <input type="button" class="button small" value="Send to LifeChurch.tv" />
            </div>
            <div class="medium-4 columns"></div>
          </div>
        </form>

      </div>
    </div>
  </div>
</article>