<hr />

<article id="{{ mission.id }}" class="missions-item">
  <div class="row">
    <div class="medium-3 columns">
      <img src="{{ mission.image }}" alt="" />
    </div>
    <div class="medium-9 columns">
      <h3>{{ mission.title }}</h3>
      <p>{{ mission.shortDescription }}</p>
      <div class="cta">
        <p>{% if mission.website %}<a class="action small external-blue" href="{{ mission.website }}">Visit Site</a> {% endif %}<a class="action small arrow-2-blue get-involved" href="#">Get Involved</a></p>
        
        <form>
          <input name="recipient" type="hidden" value="someonebrave@lifechurch.tv">
          <input name="subject" type="hidden" value="{{ mission.title }}">
          <h6>Get Involved</h6>
          <div class="row">
            <div class="medium-4 columns">
              <input type="text" placeholder="Email or Phone number" />
            </div>
            <div class="medium-4 columns">
              <input type="button" class="button tiny radius" value="Send" />
            </div>
            <div class="medium-4 columns"></div>
          </div>
        </form>

      </div>
    </div>
  </div>
</article>