<hr />

<article id="{{ mission.id }}" class="missions-item">
  <div class="row">
    <div class="medium-3 columns">
      {{ mission.location }}
    </div>
    <div class="medium-9 columns">
      <h3>{{ mission.title }}</h3>
      <p>{{ mission.description }}</p>
      <div class="cta">
        <p>{% if mission.website %}<a class="action small external-blue" href="{{ mission.website }}">Visit Site</a> {% endif %}{% if mission.email %}<a class="action small arrow-2-blue get-involved" href="#">Get Involved</a>{% endif %}</p>
        
        {% if mission.email %}
        <form>
          <input name="recipient" type="hidden" value="someonebrave@lifechurch.tv">
          <h4>Get Involved</h4>
          <div class="row">
            <div class="large-5 columns">
              <select>
              {% if mission.location == 'Oklahoma City' %}
                <option>Select Campus</option>
                <option value="okc1@lifechurch.tv">OKC Campus 1</option>
                <option value="okc2@lifechurch.tv">OKC Campus 2</option>
                <option value="okc3@lifechurch.tv">OKC Campus 3</option>
              {% endif %}
              {% if mission.location == "Tulsa" %}
                <option>Select Campus</option>
                <option value="tulsa1@lifechurch.tv">Tulsa Campus 1</option>
                <option value="tulsa2@lifechurch.tv">Tulsa Campus 2</option>
                <option value="tulsa3@lifechurch.tv">Tulsa Campus 3</option>
              {% endif %}
              {% if mission.location == "Wellington" %}
                <option>Select Campus</option>
                <option value="wellington@lifechurch.tv">Wellington Campus</option>
              {% endif %}
              </select>
            </div>
            <div class="large-5 columns">
              <input type="text" placeholder="Email or Phone number" />
            </div>
            <div class="large-2 columns">
              <input type="button" class="button tiny radius expand" value="Send" />
            </div>
          </div>
        </form>
        {% endif %}
      </div>
    </div>
  </div>
</article>