<section id="more" class="page-more">
  <div class="page-more-inner">
    <div class="row">
      <div class="medium-12 columns">

        <div class="show-for-small small-primary-links">

          <h5>Navigation</h5>

          <a href="/watch/" class="more-watch-small">
            <h4>Watch a Message <span class="live hide">Live</span></h4>
            <p>Description goes right here to describe why this particular link might interest you.</p>
          </a>

          <a href="/locations/">
            <h4>Locations</h4>
            <p>Description goes right here to describe why this particular link might interest you.</p>
          </a>

          <a href="/giving/">
            <h4>Give</h4>
            <p>Description goes right here to describe why this particular link might interest you.</p>
          </a>

          <a href="/who-we-are/">
            <h4>Newcomers</h4>
            <p>Description goes right here to describe why this particular link might interest you.</p>
          </a>
          <br />
          <hr />
        </div>

        <h5>Ways to get involved</h5>

        <a href="/kids/">
          <div class="row">
            <div class="medium-3 columns">
              <h4>Kids &amp; Youth</h4>
            </div>
            <div class="medium-9 columns">
              <p>Partner with us to engage the next generation of fully devoted followers of Christ.</p>
            </div>
          </div>
        </a>

        <a href="/lifegroups/">
          <div class="row">
            <div class="medium-3 columns">
              <h4>LifeGroups</h4>
            </div>
            <div class="medium-9 columns">
              <p>Find out how you can grow, laugh, and serve with other believers through a LifeGroup.</p>
            </div>
          </div>
        </a>

        <a href="/lifemissions/">
          <div class="row">
            <div class="medium-3 columns">
              <h4>LifeMissions</h4>
            </div>
            <div class="medium-9 columns">
              <p>Join us in building and supporting relationships that inspire change locally and around the world.</p>
            </div>
          </div>
        </a>

        <a href="/serving/">
          <div class="row">
            <div class="medium-3 columns">
              <h4>Serving Opportunities</h4>
            </div>
            <div class="medium-9 columns">
              <p>God wants to use you to make a difference.</p>
            </div>
          </div>
        </a>

        <a href="/jobs/">
          <div class="row">
            <div class="medium-3 columns">
              <h4>Job Openings</h4>
            </div>
            <div class="medium-9 columns">
              <p>Some call it a job. We say it's a calling. Find out more about job opportunities at LifeChurch.tv.</p>
            </div>
          </div>
        </a>

        <a href="/tools/">
          <div class="row">
            <div class="medium-3 columns">
              <h4>Apps &amp; Sites</h4>
            </div>
            <div class="medium-9 columns">
              <p>We want to help equip you on your journey of growth.</p>
            </div>
          </div>
        </a>

        <hr />

        <h5>A bit about us</h5>

        <a href="/who-we-are/">
          <div class="row">
            <div class="medium-3 columns">
              <h4>Who We Are</h4>
            </div>
            <div class="medium-9 columns">
              <p>Find out how we want to make a lasting difference in your life, our community, and the world.</p>
            </div>
          </div>
        </a>

        <a href="/beliefs/">
          <div class="row">
            <div class="medium-3 columns">
              <h4>Our Beliefs</h4>
            </div>
            <div class="medium-9 columns">
              <p>Learn more about what we believe as fully devoted followers of Christ.</p>
            </div>
          </div>
        </a>

        <a href="/what-to-expect/">
          <div class="row">
            <div class="medium-3 columns">
              <h4>What to Expect</h4>
            </div>
            <div class="medium-9 columns">
              <p>Visiting for the first time? We want you to know what you'll find at LifeChurch.tv.</p>
            </div>
          </div>
        </a>

        <a href="/digital-missions/#churches">
          <div class="row">
            <div class="medium-3 columns">
              <h4>Equipping Churches</h4>
            </div>
            <div class="medium-9 columns">
              <p>Stuff and things.</p>
            </div>
          </div>
        </a>

        <a href="/contact/">
          <div class="row show-for-small">
            <div class="medium-3 columns">
              <h4>Reach Us</h4>
            </div>
            <div class="medium-9 columns">
              <p>Description goes right here to describe why this particular link might interest you.</p>
            </div>
          </div>
        </a>

      </div>
    </div>
  </div>
</section>
