<section id="more" class="page-more">
  <div class="page-more-inner">
    <div class="row">
      <div class="medium-12 columns">

        <div class="show-for-small small-primary-links">

          <h5>Navigation</h5>

          <a href="/watch/" class="more-watch-small nav-watch">
            <h4>Watch a Message <span class="live hide">Live</span> <i class="icon icon-play-1 show-for-small right"></i></h4>
            <p>Check out a LifeChurch.tv message&mdash;live with our Church Online community or on demand.</p>
          </a>

          <a href="/locations/">
            <h4>Locations</h4>
            <p>Find out more about our campuses located all over the US.</p>
          </a>

          <a href="/giving/">
            <h4>Give</h4>
            <p>Taking action on your generosity is simple. Find out how to give at LifeChurch.tv.</p>
          </a>

          <a href="/who-we-are/">
            <h4>New Here?</h4>
            <p>Learn more about who we are, what we believe, and how we'd love to serve you.</p>
          </a>
          <br />
          <hr />
        </div>

        <h5>Ways to get involved</h5>

        <a href="/kids/">
          <div class="row">
            <div class="medium-3 columns">
              <h4>Kids &amp; Youth</h4>
            </div>
            <div class="medium-9 columns">
              <p>Partner with us to engage the next generation of fully devoted followers of Christ.</p>
            </div>
          </div>
        </a>

        <a href="/lifegroups/">
          <div class="row">
            <div class="medium-3 columns">
              <h4>LifeGroups</h4>
            </div>
            <div class="medium-9 columns">
              <p>Find out how you can grow, laugh, and serve with other believers through a LifeGroup.</p>
            </div>
          </div>
        </a>

        <a href="/lifemissions/">
          <div class="row">
            <div class="medium-3 columns">
              <h4>LifeMissions</h4>
            </div>
            <div class="medium-9 columns">
              <p>Join us in building and supporting relationships that inspire change locally and around the world.</p>
            </div>
          </div>
        </a>

        <a href="/serving/">
          <div class="row">
            <div class="medium-3 columns">
              <h4>Serving Opportunities</h4>
            </div>
            <div class="medium-9 columns">
              <p>God can use your gifts and skills to make a difference in the lives of others at LifeChurch.tv.</p>
            </div>
          </div>
        </a>

        <a href="/jobs/">
          <div class="row">
            <div class="medium-3 columns">
              <h4>Job Openings</h4>
            </div>
            <div class="medium-9 columns">
              <p>Some call it a job. We say it's a calling. Find out more about job opportunities at LifeChurch.tv.</p>
            </div>
          </div>
        </a>

        <a href="/tools/">
          <div class="row">
            <div class="medium-3 columns">
              <h4>Apps &amp; Sites</h4>
            </div>
            <div class="medium-9 columns">
              <p>We want to help equip you on your journey of growth.</p>
            </div>
          </div>
        </a>

        <hr />

        <h5>A bit about us</h5>

        <a href="/who-we-are/">
          <div class="row">
            <div class="medium-3 columns">
              <h4>Who We Are</h4>
            </div>
            <div class="medium-9 columns">
              <p>Find out how we want to make a lasting difference in your life, our community, and the world.</p>
            </div>
          </div>
        </a>

        <a href="/beliefs/">
          <div class="row">
            <div class="medium-3 columns">
              <h4>Our Beliefs</h4>
            </div>
            <div class="medium-9 columns">
              <p>Learn more about what we believe as fully devoted followers of Christ.</p>
            </div>
          </div>
        </a>

        <a href="/what-to-expect/">
          <div class="row">
            <div class="medium-3 columns">
              <h4>What to Expect</h4>
            </div>
            <div class="medium-9 columns">
              <p>Visiting for the first time? We want you to know what you'll find at LifeChurch.tv.</p>
            </div>
          </div>
        </a>

        <a href="/equipping-churches/">
          <div class="row">
            <div class="medium-3 columns">
              <h4>Equipping Churches</h4>
            </div>
            <div class="medium-9 columns">
              <p>Find free tools and resources created by LifeChurch.tv for churches around the world.</p>
            </div>
          </div>
        </a>

        <a href="/contact/">
          <div class="row show-for-small">
            <div class="medium-3 columns">
              <h4>Contact Us</h4>
            </div>
            <div class="medium-9 columns">
              <p>We love to hear from the great people who visit and attend LifeChurch.tv.</p>
            </div>
          </div>
        </a>

      </div>
    </div>
  </div>
</section>
