<section id="more" class="page-more">
  <div class="page-more-inner">
    <div class="row">
      <div class="medium-12 columns">
        
        <div class="show-for-small">
          <h5>Navigation</h5>
          
          <a href="/watch/">
            <h4>Watch</h4>
            <p>Description goes right here to describe why this particular link might interest you.</p>
          </a>

          <a href="/locations/">
            <h4>Locations</h4>
            <p>Description goes right here to describe why this particular link might interest you.</p>
          </a>

          <a href="/giving/">
            <h4>Giving</h4>
            <p>Description goes right here to describe why this particular link might interest you.</p>
          </a>
          <br />
          <hr />
        </div>

        <h5>Next Steps</h5>
        
        <a href="/lifegroups/">
          <div class="row">
            <div class="medium-3 columns">
              <h4>LifeGroups</h4>
            </div>
            <div class="medium-9 columns">
              <p>Description goes right here to describe why this particular link might interest you.</p>
            </div>
          </div>
        </a>

        <a href="/lifemissions/">
          <div class="row">
            <div class="medium-3 columns">
              <h4>LifeMissions</h4>
            </div>
            <div class="medium-9 columns">
              <p>Description can go in this space to describe why it's important.</p>
            </div>
          </div>
        </a>

        <a href="/kids/">
          <div class="row">
            <div class="medium-3 columns">
              <h4>Kids &amp; Youth</h4>
            </div>
            <div class="medium-9 columns">
              <p>Description goes right here to describe why this particular link might interest you.</p>
            </div>
          </div>
        </a>

        <a href="/serving/">
          <div class="row">
            <div class="medium-3 columns">
              <h4>Serving</h4>
            </div>
            <div class="medium-9 columns">
              <p>Description can go in this space to describe why it's important.</p>
            </div>
          </div>
        </a>

        <a href="/tools/">
          <div class="row">
            <div class="medium-3 columns">
              <h4>Tools</h4>
            </div>
            <div class="medium-9 columns">
              <p>Description goes right here to describe why this particular link might interest you.</p>
            </div>
          </div>
        </a>

        <hr />

        <h5>About Us</h5>
          
        <a href="/who-we-are/">
          <div class="row">
            <div class="medium-3 columns">
              <h4>Who We Are</h4>
            </div>
            <div class="medium-9 columns">
              <p>Description goes right here to describe why this particular link might interest you.</p>
            </div>
          </div>
        </a>

        <a href="/beliefs/">
          <div class="row">
            <div class="medium-3 columns">
              <h4>Beliefs</h4>
            </div>
            <div class="medium-9 columns">
              <p>Description can go in this space to describe why it's important.</p>
            </div>
          </div>
        </a>

        <a href="/what-to-expect/">
          <div class="row">
            <div class="medium-3 columns">
              <h4>What to Expect</h4>
            </div>
            <div class="medium-9 columns">
              <p>Description goes right here to describe why this particular link might interest you.</p>
            </div>
          </div>
        </a>

        <a href="/jobs/">
          <div class="row">
            <div class="medium-3 columns">
              <h4>Jobs</h4>
            </div>
            <div class="medium-9 columns">
              <p>Description can go in this space to describe why it's important.</p>
            </div>
          </div>
        </a>

        <a href="/contact/">
          <div class="row show-for-small">
            <div class="medium-3 columns">
              <h4>Contact Us</h4>
            </div>
            <div class="medium-9 columns">
              <p>Description goes right here to describe why this particular link might interest you.</p>
            </div>
          </div>
        </a>

      </div>
    </div>
  </div>
</section>