<!-- Tertiary content (Breadcrumb, Resource links, etc.) -->
<div class="row">
<div class="medium-12 columns">
<div class="page-tertiary tertiary-header">
  <div class="row">
    <div class="medium-6 columns">
      <!-- Breadcrumb -->
      <nav class="tertiary-nav">
        {% if page.section == "locations" %}<a href="/locations/">Locations</a>{% endif %}
        {% if page.section == "watch" %}<a href="/watch/">Watch</a>{% endif %}
        {% if page.section == "watch archive" %}<a href="/watch/">Watch</a>{% endif %}
        {% if page.section == "about" %}<a href="/who-we-are/">About</a>{% endif %}
        {% if page.section == "giving" %}<a href="/giving/">Giving</a>{% endif %}
        {% if page.section == "lifemissions" %}<a href="/lifemissions/">LifeMissions</a>{% endif %}
        <a class="current" href="#">{{ page.title }}</a>
      </nav>
    </div>
    <div class="medium-6 columns tertiary-resources text-right">
      {% if page.section == "watch" %}
      <!-- Watch Options -->
      <div class="hide-for-small">
        <a href="#"
           data-dropdown="drop"
           class="button tiny dropdown"
           onclick="_gaq.push(['_trackEvent', 'Series', 'Click', 'Resource']);">
           Get Resources
        </a>
        <br />
      </div>
      {% include watch-resources.html %}
      {% endif %}

      {% if page.section == "locations" %}
      <!-- Locations Options -->
      <a class="button small" href="#">Get updates</a>
      {% endif %}

      {% if page.title == "Giving Opportunities" or page.section == "giving" %}
      <!-- Giving Options -->
      <div class="hide-for-small">
        <a href="#"
           class="button inverse small"
           onclick="_gaq.push(['_trackEvent', 'Giving', 'Click', 'New Give']);">
           Sign up to Give
        </a>
        <a href="#"
           class="button small"
           onclick="_gaq.push(['_trackEvent', 'Giving', 'Click', 'Existing Give']);">
           Log in to Give
        </a>
      </div>
      {% endif %}
    </div>
  </div>
</div>
</div>
</div>
