<!-- Tertiary content (Breadcrumb, Resource links, etc.) -->
<div class="row">
<div class="large-12 columns">
<div class="page-tertiary tertiary-header">
  <div class="row">
    <div class="large-8 columns">
      <!-- Breadcrumb -->
      <nav class="tertiary-nav">
        {% if page.section == "locations" %}<a href="/locations/">Locations</a>{% endif %}
        {% if page.section == "watch" %}<a href="/watch/">Watch</a>{% endif %}
        {% if page.section == "watch archive" %}<a href="/watch/">Watch</a>{% endif %}
        {% if page.section == "about" %}<a href="/who-we-are/">About</a>{% endif %}
        {% if page.section == "giving" %}<a href="/giving/">Giving</a>{% endif %}
        {% if page.section == "lifemissions" %}<a href="/lifemissions/">LifeMissions</a>{% endif %}
        <a class="current" href="#">{{ page.title }}</a>
      </nav>
    </div>
    <div class="large-4 columns tertiary-resources text-right">
      <!-- Resources -->
      {% if page.section == "watch" %}
      {% if page.section != "archives" %}
      {% include watch-resources.html %}
      {% endif %}
      {% endif %}
      {% if page.section == "locations" %}<a class="button radius tiny" href="#">Subscribe thing</a>{% endif %}
      {% if page.section == "giving" %}<a class="button radius tiny" href="#">Button</a> or <a class="button radius tiny" href="#">Button</a>{% endif %}
    </div>
  </div>
</div>
</div>
</div>