<section id="video-{{include.id}}" class="video-player">
  <div class="close"><i class="icon icon-play-2"></i></div>
  <div class="video-player-inner">
    <div class="row">
      <div class="large-12 columns">
        <div class="wistia-flex-video widescreen">
          <iframe src="http://fast.wistia.net/embed/iframe/{{include.id}}?playerColor=B9252D&version=v1" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" width="640" height="360"></iframe>
        </div>
        <div class="social">
          <a href="#" class="button">Share via Twitter</a>
          <a href="#" class="button">Share via Facebook</a>
          <a href="#" class="button">Share via Email</a>
        </div>
      </div>
    </div>
  </div>
</section>