<section class="watch-messages page-section section-last section-light" id="messages">
  <div class="row">
    <div class="large-7 columns">
      <h2 class="underlined">In this series</h2>

      <!-- Get the messages out of the series and list them out -->
      {% for message in series.messages %}

      <div class="row message">
        <div class="medium-3 columns">
          <h4>{{ message.title }}</h4>
        </div>
        <div class="medium-6 columns medium-text-right">
          <h6>{{ message.headline }}</h6>
        </div>
        <div class="medium-3 columns medium-text-right play-message">
          <a href="javascript:void(0);" class="action text-lprimary small" data-video-player="{{message.video}}" >Play <i class="icon icon-play-2"></i></a>
        </div>
      </div>

      {% endfor %}

      <a href="#"
         data-dropdown="drop"
         class="action dropdown white show-for-small"
         onclick="ga('send', 'event', 'Series', 'Click', 'Resource');">
         Get Resources <i class="icon icon-arrow-down-2"></i>
      </a>
      <br />
      {% include watch-resources.html %}

    </div>

    <div class="large-4 columns">
      <h2 class="underlined">Invite</h2>

      <a href="http://twitter.com/home/?status=“Some text goes here that captures the essence of some pretty sweet quotage.” http://lifechurch.tv{{ page.url }}" target="_blank" class="action text-lprimary small icon-twitter">Invite on Twitter</i></a>
      <a href="http://www.facebook.com/sharer.php?app_id=567912296616576&amp;sdk=joey&amp;u=http%3A%2F%2Fwww.lifechurch.tv{{ page.url }}%2F" target="_blank" class="action text-lprimary small icon-facebook">Invite on Facebook</i></a>
      <a href="https://plus.google.com/share?url=www.lifechurch.tv{{ page.url }}%2F" target="_blank" class="action text-lprimary small icon-gplus">Invite on Google+</i></a>
      <a href="#" target="_blank" class="action text-lprimary small icon-instagram">Invite on Instagram</i></a>

    </div>
  </div>

</section>

{% for message in series.messages %}

{% include video-player.html id=message.video %}

{% endfor %}
