<div class="row">
  <div class="large-8 columns">
    <!-- Breadcrumb -->
    <nav class="breadcrumbs">
      <a href="/watch/">Watch</a>
      <a class="current" href="#">{{ series.title }}</a>
    </nav>

  </div>
  <div class="large-4 columns">
    <!-- Resources button -->
    <a href="#" data-dropdown="drop" class="button small dropdown">Get Resources</a><br>
    <ul id="drop" data-dropdown-content class="f-dropdown">
      <li><a href="#">Download Videos</a></li>
      <li><a href="#">Get Talk Notes</a></li>
      {% if series.open %}<li><a href="{{ series.open }}">For Other Churches</a></li>{% endif %}
    </ul>

  </div>
</div>