<ul id="drop" data-dropdown-content class="f-dropdown text-left watch-resources">
  <li>
    <a href="http://feedpress.me/lifechurchipod"
       class="watch-podcast"
       onclick="ga('send', 'event', 'Series', 'Click', 'Resource Podcast');">
       Podcast Feed
    </a>
  </li>
  <li>
  <a href="{% unless series.resources_url == '' %}{{ series.resources_url }}{% else %}http://resources.lifechurch.tv{% endunless %}"
       class="watch-talkitover"
       onclick="ga('send', 'event', 'Series', 'Click', 'Resource Resources');">
       Notes &amp; Downloads
    </a>
  </li>
  <li>
    <a href="{% unless series.open_url == '' %}{{ series.open_url }}{% else %}http://open.lifechurch.tv{% endunless %}"
       class="watch-open"
       onclick="ga('send', 'event', 'Series', 'Click', 'Resource OPEN');">
       For Churches
    </a>
  </li>
</ul>
