<ul id="drop" data-dropdown-content class="f-dropdown text-left watch-resources">
  {% if series.podcast %}
  <li>
    <a href="{{ series.podcast }}"
       class="watch-podcast"
       onclick="ga('send', 'event', 'Series', 'Click', 'Resource Podcast');">
       Get the Podcast
    </a>
  </li>
  {% endif %}
  <li>
  <a href="{% if series.resources %}{{ series.resources }}{% else %}http://resources.lifechurch.tv{% endif %}"
       class="watch-talkitover"
       onclick="ga('send', 'event', 'Series', 'Click', 'Resource Resources');">
       Notes &amp; Downloads
    </a>
  </li>
  <li>
    <a href="{% if series.open %}{{ series.open }}{% else %}http://open.lifechurch.tv{% endif %}"
       class="watch-open"
       onclick="ga('send', 'event', 'Series', 'Click', 'Resource OPEN');">
       For Churches
    </a>
  </li>
</ul>
