.who-we-are {
  .logo {
    @include svg-image('/images/branding/logo-red-white');
  }

  @media #{$small-only} {
    h1 {
      font-size: 1.5em;
      margin-top: 15px;
    }

    .who-we-are-bg blockquote {
      margin-top: 70px;
    }
  }

  .who-we-are-bg {
    @include background-image-2x-jpg('/images/about/whoweare-bg');
    background-size: cover;
    background-position: -340px top;
    background-repeat: no-repeat;

    @media #{$medium-up} {
      background-size: 1500px 650px;
      background-position: center top;
    }
  }
}

.beliefs {

  // Position the headline to accomodate those feature images
  h1 {
    padding-top: 70px;
    @media #{$medium-up} {
      padding-top: 100px;
    }
  }

  // Hold those absolutely positioned images in place
  .row { position: relative; }

  // Feature image
  .about-bible {
    @include background-image-2x-png('/images/about/about-bible');
    background-size: 528px 219px;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    position: absolute;
    top: -20px;
    z-index: 10;

    @media #{$small-only} {
      background-size: 200px auto;
      left: 0;
      right: 0;
      margin: 0 auto;
    }

    @media #{$medium-up} {
      width: 528px;
      height: 219px;
      top: -100px;
      right: 0;
    }

    @media #{$large-up} {
      right: -150px;
    }
  }
}


.what-to-expect {

  // Position the headline to accomodate those feature images
  h1 {
    padding-top: 110px;
    @media #{$medium-up} {
      padding-top: 40px;
    }
  }

  // Hold those absolutely positioned images in place
  .row { position: relative; }

  // Feature image
  .about-coffee {
    background: url('/images/about/about-coffee.png') no-repeat;
    width: 200px;
    height: 200px;
    position: absolute;
    top: -20px;

    @media #{$small-only} {
      background-size: 200px auto;
      left: 0;
      right: 0;
      margin: 0 auto;
    }

    @media #{$medium-up} {
      width: 229px;
      height: 169px;
      top: -100px;
      right: 0;
    }

    @media #{$large-up} {
      right: -120px;
    }
  }
}


.jobs {

  // Feature image
  .section-jobs-top {

    h1 {
      margin-top: 10px;
    }

    @media #{$medium-up} {
      background: url('/images/about/about-jobs.jpg') bottom center no-repeat;
      background-size: 1095px auto;
      height: 570px;
      border-bottom: 1px solid #ccc;

      h1 {
        margin-top: 160px;
      }
    }
  }

  // Listings
  .job-title {
    list-style: none;
    margin-left: -1.1rem;
  }
}


/*.video-image {
  display: block;

  i {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 70px auto 0;
    font-size: 50px;
    width: 100%;
    text-align: center;
    color: #fff;
  }

  &:hover i {
    color: #ddd;
  }
}*/


.page-404 {

  .page-tertiary {
    display: none;
  }
}
