// Giving page section styles

  .hphoto-giving-tithe {
    background: url("http://placekitten.com/1000/700") no-repeat;
    background-size: cover;
    background-position: center;
  }

  .hphoto-giving-spacesplaces {
    background: url("/images/giving/spaces-places-bg.jpg") no-repeat;
    background-size: cover;
    background-position: center;
  }

  .hphoto-giving-reliefrestoration {
    background: url("/images/giving/relief-restoration-bg.jpg") no-repeat;
    background-size: cover;
    background-position: center;
  }

  .giving-main {
    .button.inverse {
      border-color: rgba(255,255,255,.5);
      color: #fff;
    }
  }


// Restore page section styles

  .restore {
    blockquote cite {
      color: lighten($red, 20%);
    }

    .primary-links .live {
      color: darken($red, 20%) !important;
    }
  }

  .section-restore-1 {
    background: #000 url("/images/giving/restore-bg-1.jpg") center bottom no-repeat;
    background-size: cover;
    background-position: center;

    @media #{$medium-up} {
      padding-top: 250px;
      padding-bottom: 50px;
    }

    @media only screen and (min-height: 620px) {
      padding-top: 350px;
      padding-bottom: 80px;
    }
  }

  .section-restore-2 {
    background: #222;
  }

  .hphoto-restore {
    @include background-image-2x-jpg('/images/giving/restore-bg-2');
    background-repeat: no-repeat;
    background-size: 100% auto;
  }

  .section-restore-3 {
    background: #222;

    @media #{$medium-up} {
      padding-top: 5em;
      padding-bottom: 4em;
    }
  }
