// Giving page section styles

  .section-giving-tithe {
    background: url("http://placekitten.com/1000/700") no-repeat;
    background-size: cover;
    background-position: center;
  }

  .section-giving-spaces-places {
    background: url("/images/giving/spaces-places-bg.jpg") no-repeat;
    background-size: cover;
    background-position: center;
  }

  .section-giving-relief-restoration {
    background: url("/images/giving/relief-restoration-bg.jpg") no-repeat;
    background-size: cover;
    background-position: center;
  }

  .section-giving-digital-missions {
    padding-bottom: 30px;
  }