// Giving page section styles

  .section-giving-tithe {
    background: url("http://placekitten.com/1000/700") no-repeat;
    background-size: cover;
    background-position: center;
  }

  .section-giving-spaces-places {
    background: #eee;
  }

  .section-giving-relief-restoration {
    background: url("http://placekitten.com/1000/699") no-repeat;
    background-size: cover;
    background-position: center;
  }

  .section-giving-digital-missions {
    background: #eee;
  }