.home {
  background: #1e1e1e url('/images/home/series-bg.jpg') center top no-repeat;
  background-size: 480px auto;
  @media #{$medium-up} {
    background-size: 950px auto;
  }

  h1 {
    @media #{$medium-up} {
      margin-bottom: 15px;
    }
  }

  .section-first {
    padding-bottom: 50px;
  }

  .series-art {
    @include svg-image('/images/home/series-logo');
    background-size: contain;
    background-repeat: no-repeat;
    width: 121px;
    height: 150px;
    margin: 0 auto 20px;
    @media #{$medium-up} {
      width: 227px;
      height: 282px;
      margin: 20px auto 40px;
    }
  }
}