.home {
  background: #fff url('/images/home/series-bg.jpg') center top;

  @media #{$medium-up} {

  }

  h1 {
    @media #{$medium-up} {
      margin-bottom: 15px;
    }
  }

  .section-first {
    @media #{$medium-up} {
      padding-bottom: 30px;
    }
  }

  .section-first a,
  .page-footer a,
  .action {
    color: #7468b6;
  }

  .section-first a:hover,
  .page-footer a:hover,
  .action:hover,
  .primary-links a:hover {
    color: darken(#7468b6, 10%);
  }

  .primary-links a:hover .more-line {
    background: darken(#7468b6, 10%) !important;
  }

  .series-art {
    @include background-image-2x-png('/images/home/series-title');
    background-size: contain;
    background-repeat: no-repeat;
    width: 270px;
    height: 120px;
    margin: 0 auto 20px;

    @media #{$medium-up} {
      width: 636px;
      height: 216px;
      margin: 120px auto 40px;
    }
  }
}
