.home {
  @include background-image-2x-jpg('/images/home/series-bg');
  background-position: center top;
  background-repeat: repeat-x;
  background-size: 531px 744px;

  // Action links
  .action {
    color: #263880;
  }

  // Space after action links
  .section-first {
    @media #{$medium-up} {
      padding-bottom: 30px;
    }
  }

  // Footer section
  .page-footer {
    @include background-image-2x-png('/images/home/series-bg2');
    background-size: 96px 62px;
    background-position: center top;
    background-repeat: no-repeat;
    padding-top: 55px;
    border: none;
    padding-bottom: 0;

    // Line break in footer
    .columns {
      border: none;
      margin-top: 0;
    }

    // Inner styles
    .footer-inner {
      background: #28377f;
      padding-bottom: 30px;
      padding-top: 20px;

      p {
        color: #fff;
      }
    }
  }

  // Series art
  .series-art {
    @include background-image-2x-png('/images/home/series-title');
    background-size: contain;
    background-repeat: no-repeat;
    width: 270px;
    height: 120px;
    margin: 0 auto 20px;

    @media #{$medium-up} {
      width: 636px;
      height: 216px;
      margin: 120px auto 20px;
    }
  }
}
