.kids {

  .grade {
    border: 2px solid $red;
    color: $red;
    text-align: center;
    font-size: rem-calc(20);
    //margin: 0 auto -35px;
    font-family: $body-font-family;

    &:hover {
      border: 2px solid $red;
      color: $red;
      cursor: initial;
    }

    &.small {
      font-size: rem-calc(14);
    }
  }

  .kids-bg {
    background: #f4f4f4 url("/images/kids/kids-bg.jpg") center bottom no-repeat;
    background-size: 500px auto;
    padding-bottom: 140px;
    border-bottom: 1px solid #eee;
    margin-bottom: 25px;

    @media #{$medium-up} {
      background-size: 1000px auto;
      padding-bottom: 280px;
    }

    @media #{$small-only} {
      h1 { margin-top: 0; }
    }
  }
}
