.missions-list,
.serving-list {

  .cta {
    position: relative;
    height: 70px;
    @include transition-property(height);
    @include transition-duration(.5s);
    @media #{$medium-up} { height: 30px; }  
  }

  .cta.open {
    height: 200px;
    @media #{$medium-up} { height: 170px; }
    @media #{$large-up} { height: 130px; }
  }

  form {
    position: absolute;
    top: -15px;
    width: 100%;
  }

}

.serving-list .cta {
  height: 80px;
}

.serving-list .cta.open {
  height: 300px;
  @media #{$medium-up} { height: 280px; }
  @media #{$large-up} { height: 240px; }
}
