.missions-list,
.serving-list {

  .missions-item {
    border-top: 1px solid #ddd;
    padding-top: 30px;
    margin-top: 30px;
  }

  .missions-item:first-child {
    border-top: none;
    padding-top: 0;
    margin-top: 0;
  }

  .cta {
    position: relative;
    height: 70px;
    @include transition-property(height);
    @include transition-duration(.5s);

    @media #{$medium-up} {
      height: 30px;
    }
  }

  .cta.open {
    height: 230px;
    
    @media #{$medium-up} {
      height: 170px;
    }

    @media #{$large-up} {
      height: 130px;
    }
  }

  form {
    position: absolute;
    top: -15px;
    width: 100%;
  }

}

.serving-list .cta {
  height: 80px;
}

.serving-list .cta.open {
  height: 300px;

  @media #{$medium-up} {
    height: 310px;
  }

  @media #{$large-up} {
    height: 260px;
  }
}
