// LifeGroups page section

.section-lifegroups-top {
  padding-top: 210px;
  padding-bottom: 8px;
  height: 650px;
}

.lifegroups .page-tertiary {
  display: none;
}

.section-lifegroups-find {
  padding: 4em 0 5em;
  clear: both;
}

.section-lifegroups-tiles {
  height: 450px;
  background: #000;
  @media #{$medium-up} {
    height: 200px;
  }
}

.lifegroups-tile {
  height: 150px;
  width: 100%;
  text-align: center;
  padding-top: 60px;
  position: relative;
  background-color: #333;
  background-size: cover;
  background-repeat: no-repeat;
  display: block;

  @media #{$medium-up} {
    height: 200px; 
    width: 33%;
    float: left;
    padding-top: 90px;
    &.lifegroups-tile-last { width: 34%; }
  }

  /*&:after {
    content: "";
    @include background-image(linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,.2) 60%));
    display: block;
    height: 200px;
    width: 100%;
    top: 0;
    opacity: .5;
    position: absolute;
    width: 100%;
    @include transition-property(all);
    @include transition-duration(.3s);
  }
  &:hover:after {
    opacity: 1;
  }*/

  span {
    color: #fff;
    @extend h4;
    display: block;
    position: relative;
    z-index: 2;
  }
}

.lifegroups-tile-2 {
  background-image: url("http://placekitten.com/400/400");
}

.lifegroups-tile-3 {
  background-image: url("http://placekitten.com/400/400");
}

.lifegroups-tile-4 {
  background-image: url("http://placekitten.com/400/400");
}