.page-watch .section-watch-live {
  top: -33px !important;
  padding-top: 35px;
  margin-bottom: -40px;
  @include background-image-2x-jpg('/images/watch/watch-live');
  background-color: #000;
  background-repeat: no-repeat;
  background-size: 1500px 496px;
  background-position: center;

  @media #{$small-only} {
    height: 300px;
    @include background-image-2x-jpg('/images/watch/watch-live-small');
    background-color: #000;
    background-size: 500px 300px;
    background-repeat: no-repeat;
    background-position: top left;
    padding-bottom: 80px !important;
    padding-top: 15px;
  }
}

.no-touch .message a {
  display: block;
  float: left;
  width: 100%;
  padding-top: 15px;
  border-radius: 4px;

  &:first-child {
    margin-top: -15px;
  }

  &:hover {
    background: rgba(255,255,255,.1);
  }
}

.message h4 {
  margin-top: -5px;
  color: #fff !important;
}

.message h6 {
  margin-top: 0px;
  color: #fff !important;
  @media #{$small-only} {
    color: #86def7 !important;
  }
}

.message {
  padding-bottom: 12px;
}

.watch-item h6 {
  margin-top: 5px;
}

.watch-archive-art {
  @media #{$medium-up} {
    margin-top: 30px;
  }
}

.watch-podcast,
.watch-talkitover,
.watch-open {
  padding-top: 10px !important;
  padding-bottom: 12px !important;
}

.watch-podcast:before,
.watch-talkitover:before,
.watch-open:before {
  content: "";
  display: block;
  float: left;
  width: 25px;
  height: 25px;
  margin-right: 10px;
  margin-top: -3px
}

.watch-podcast:before {
  @include svg-image('/images/watch/watch-podcast');
}

.watch-talkitover:before {
  @include svg-image('/images/watch/watch-talkitover');
}

.watch-open:before {
  @include svg-image('/images/watch/watch-open');
}
