.page-watch .section-watch-live {
  top: -33px !important;
  padding-top: 35px;
  margin-bottom: -40px;
  @include background-image-2x-jpg('/images/watch/watch-live');
  background-color: #000;
  background-repeat: no-repeat;
  background-size: 1500px 496px;
  background-position: center;

  @media #{$small-only} {
  }

  @media #{$small-only} {
    height: 300px;
    @include background-image-2x-jpg('/images/watch/watch-live-small');
    background-color: #000;
    background-size: 500px 300px;
    background-repeat: no-repeat;
    background-position: top left;
    padding-bottom: 80px !important;
    padding-top: 15px;

  }

}

.message h4 {
  margin-top: -5px;
}

.message h6 {
  margin-top: 2px;
}

.message {
  padding-bottom: 12px;
}

.watch-item h6 {
  margin-top: 5px;
}

.watch-podcast,
.watch-talkitover,
.watch-open {
  padding-top: 10px !important;
  padding-bottom: 12px !important;
}

.watch-podcast:before,
.watch-talkitover:before,
.watch-open:before {
  content: "";
  display: block;
  float: left;
  width: 25px;
  height: 25px;
  margin-right: 10px;
  margin-top: -3px
}

.watch-podcast:before {
  @include svg-image('/images/watch/watch-podcast');
}

.watch-talkitover:before {
  @include svg-image('/images/watch/watch-talkitover');
}

.watch-open:before {
  @include svg-image('/images/watch/watch-open');
}


// Invite

  .section-watch {

    .icon-facebook,
    .icon-twitter,
    .icon-instagram,
    .icon-gplus {
      padding-left: 30px;
      background-repeat: no-repeat;
      margin-bottom: 17px;
    }

    .icon-facebook {
      @include svg-image('/images/social/icon-facebook');
    }

    .icon-twitter {
      @include svg-image('/images/social/icon-twitter');
    }

    .icon-instagram {
      @include svg-image('/images/social/icon-instagram');
    }

    .icon-gplus {
      @include svg-image('/images/social/icon-gplus');
    }
  }
