// Watch Feature Slider
.watch-featured {
  max-height: 400px !important;
  overflow: hidden;
  img { width: 100%; }
}

// Remove Orbit timers
.orbit-timer {
  display: none !important;
}

.orbit-next,
.orbit-prev {
  @include transition-property(background);
  @include transition-duration(.5s);
}

.page-watch .orbit-container {
  top: -33px !important;
  margin-bottom: -60px;
}

.play-message { margin-top: 3px; }

.message h4 { margin-top: -5px; }
.message h6 { margin-top: 2px; }
.message { padding-bottom: 12px; }