.page-watch .section-watch-live {
  top: -33px !important;
  padding-top: 35px;
  margin-bottom: -40px;
  @include background-image-2x-jpg('/images/watch/watch-live');
  background-color: #000;
  background-repeat: no-repeat;
  background-size: 1500px 496px;
  background-position: center;

  @media #{$small-only} {
    height: 300px;
    @include background-image-2x-jpg('/images/watch/watch-live-small');
    background-color: #000;
    background-size: 500px 300px;
    background-repeat: no-repeat;
    background-position: top left;
    padding-bottom: 80px !important;
    padding-top: 15px;
  }
}

.no-touch .message a {
  display: block;
  float: left;
  width: 100%;
  padding-top: 15px;
  border-radius: 4px;

  &:first-child {
    margin-top: -15px;
  }

  &:hover {
    background: #f4f7f8;
  }
}

.no-touch .message.live a {
  background: $primary-color;
  color: #fff !important;
  margin-bottom: 8px;

  &:hover {
    background: darken($primary-color, 5%);
  }

  h4,h5,h6 {
    color: #fff !important;
  }
}

.message-live-icon {
  @include svg-image('/images/watch/watch-live-icon');
  background-size: 26px 22px;
  width: 26px;
  height: 22px;
  background-repeat: no-repeat;
  background-position: left center;
  text-indent: -999em;
  display: block;
}

.message h4 {
  margin-top: -5px;
  //color: #fff !important;
}

.message h6 {
  margin-top: 0px;
  //color: #fff !important;
  @media #{$small-only} {
  //  color: #86def7 !important;
  }
}

.message {
  padding-bottom: 12px;
}

.watch-item h6 {
  margin-top: 5px;
}

.watch-archive-art {
  @media #{$medium-up} {
    margin-top: 30px;
  }
}

.watch-podcast,
.watch-talkitover,
.watch-open {
  padding-top: 10px !important;
  padding-bottom: 12px !important;
}

.watch-podcast:before,
.watch-talkitover:before,
.watch-open:before {
  content: "";
  display: block;
  float: left;
  width: 25px;
  height: 25px;
  margin-right: 10px;
  margin-top: -3px
}

.watch-podcast:before {
  @include svg-image('/images/watch/watch-podcast');
}

.watch-talkitover:before {
  @include svg-image('/images/watch/watch-talkitover');
}

.watch-open:before {
  @include svg-image('/images/watch/watch-open');
}

.watch-message-first-archive {
  position: relative;
  display: block;
  float: left;

  span {
    text-indent: -999em;
    display: block;
    width: 120px;
    height: 120px;
    background: black;
    background: rgba(0,0,0,.4);
    position: absolute;
    top: 35%;
    left: 0;
    right: 0;
    margin: 0 auto;
    @include border-radius(100px);
    border: 2px solid white;
    border: 2px solid rgba(255,255,255,.6);
  }

  &:hover span {
    background: rgba(0,0,0,.6);
  }
}

.hphoto-watch-archive {
  background-color: #f0f1eb;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1500px;
  margin: -33px auto 0px;
  position: relative;
  display: block;
  color: #fff;
  height: 340px;

  @media #{$medium-up} {
    margin: -33px auto -50px;
    background-size: 100% auto;
  }

  &:hover {
    color: #fff;
  }

  .inner {
    text-align: center;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, .3);
    position: absolute;
    top: 0;
  }

  .play-large {
    @include svg-image('/images/watch/watch-play-large');
    width: 44px;
    height: 53px;
    padding: 60px;
    background-size: 44px 53px !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    @include border-radius(100px);
    background-color: rgba(0,0,0,.6);
    display: block;
    margin: 60px auto 0;
  }

  &:hover .play-large {
    background-color: rgba(0,0,0,1);
  }

  h1 {
    margin-top: 10px;
    margin-bottom: 20px;
    color: #fff !important;
  }
}
