.youth {

  .youth-bg {
    background: #f4f4f4 url("/images/youth/youth-bg.jpg") center bottom no-repeat;
    background-size: 500px auto;
    padding-bottom: 140px;
    border-bottom: 1px solid #eee;
    margin-bottom: 25px;
    @media #{$medium-up} {
      background-size: 1000px auto;
      padding-bottom: 280px;
    }
  }

}