// Alerts
.alert-box {
  border: none;
  margin-bottom: 0;
  z-index: 11;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
  color: $body-font-color;
  padding-left: 0;
  padding-right: 0;

  &.alert {
    background: $red;
  }
}

.announcement-icon {
  height: 25px;
  width: 25px;
  margin: -5px 5px -5px 0;
  font-size: 23px;
}

.alert .announcement-link {
  color: #fff;
}
