// Alerts
.alert-box {
  border: none;
  margin-bottom: 0;
  z-index: 11;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  background: #fff;
  color: $body-font-color;

  @media #{$small-only} {
    text-align: center;
  }

  &.alert {
    background: $red;
  }
}

.announcement-icon {
  display: block;
  height: 25px;
  width: 25px;
  float: left;
  margin: -5px 5px -5px 0;
  background-repeat: no-repeat;
}

.alert .announcement-link {
  color: #fff;
}

.alert-box {
  .icon-weather-snow {
    @include svg-image('/images/icons/announcement-icon-weather-snow-black');
  }

  .icon-weather-rain {
    @include svg-image('/images/icons/announcement-icon-weather-rain-black');
  }

  .icon-campus {
    @include svg-image('/images/icons/announcement-icon-campus-black');
  }

  .icon-money {
    @include svg-image('/images/icons/announcement-icon-money-black');
  }

  .icon-calendar {
    @include svg-image('/images/icons/announcement-icon-calendar-black');
  }

  .icon-maintenance {
    @include svg-image('/images/icons/announcement-icon-maintenance-black');
  }
}

.alert-box.alert {
  .icon-weather-snow {
    @include svg-image('/images/icons/announcement-icon-weather-snow-white');
  }

  .icon-weather-rain {
    @include svg-image('/images/icons/announcement-icon-weather-rain-white');
  }

  .icon-campus {
    @include svg-image('/images/icons/announcement-icon-campus-white');
  }

  .icon-money {
    @include svg-image('/images/icons/announcement-icon-money-white');
  }

  .icon-calendar {
    @include svg-image('/images/icons/announcement-icon-calendar-white');
  }

  .icon-maintenance {
    @include svg-image('/images/icons/announcement-icon-maintenance-white');
  }
}
