// Button

  // Font type / size
  .button {
    //font-family: "ff-meta-serif-web-pro";
    font-weight: 600 !important;
    //border: darken($primary-color, 15%) 1px solid;
    border: none;
    @include border-radius(3px);
    letter-spacing: 0;

    // Button Radius
    &.radius {
      @include border-radius(100px);
    }

    // Button Tiny
    &.tiny {
      border: darken($primary-color, 15%) 1px solid;

      &.secondary {
        border: darken($secondary-color, 15%) 1px solid;
      }
    }

    // Button small
    &.small {
      padding-top: .6rem;
      padding-right: 1rem;
      padding-bottom: 0.6em;
      padding-left: 1rem;
    }

    // Button Radius Inverse
    &.inverse {
      background: none;
      border: $primary-color 1px solid;
      color: $primary-color;
      @include transition-property(all);
      @include transition-duration(.15s);

      &:before {
        border-color: $primary-color transparent transparent transparent !important;
      }

      &:hover {
        border-color: darken($primary-color, 10%);
        color: darken($primary-color, 10%);
      }

      &.white {
        border-color: rgba(255,255,255,.8);
        color: #fff;

        &:hover {
          opacity: .7;
        }

        &:before {
          border-color: #fff transparent transparent transparent !important;
        }
      }

      // Button Inverse Red
      &.red {
        border-color: $red;
        color: $red;

        &:hover {
          border-color: darken($red, 10%);
          color: darken($red, 10%);
          background: none;
        }
      }
    }

    // Button Red
    &.red {
      background-color: $red;

      &:hover {
        background: darken($red, 10%);
      }
    }
  }

  .f-dropdown li a {
    font-family: $body-font-family;
    font-size: .85em;
  }

  // Action

  // Positioning
  .action {
    margin-right: 1em;
    line-height: 1em;
    margin-bottom: 1em;

    // Vertically stacked actions
    @media #{$medium-up} {
      &.stack {
        margin-bottom: .1em;
      }
    }

    // Small action
    &.small {
      font-size: rem-calc(16);
    }

    // Large action
    &.large {
      @extend .lead;
      margin-bottom: 1em;
      font-weight: 200;
      font-family: $body-font-family;
    }

    // Align icon right on small
    @media #{$small-only} {
      display: block;
      text-align: left;
      i { float: right; }
    }

    // Align actions on larger screens
    @media #{$medium-up} {
      display: inline-block;
      
      &:last-child {
        margin-right: 0
      }
    }
  }


  // Infoicons
  .infoicon {
    @media #{$small-only} {
      width: 70%;
      margin: 20px auto;
    }
  }
