// Footer

  .page-footer {
    // Set type color & size
    p, li {
      font-size: .8em;
      color: $gray;
    }

    // Make the footer line height smaller
    p {
      margin-bottom: 8px;
    }

    .footer-social {
      @media #{$medium-up} {
        margin-top: -10px;
      }

      li {
        @media #{$large-up} {
          margin-left: 0;
        }
      }

      a {
        background-repeat: no-repeat;
        background-position: left;
        text-indent: -999em;
        width: 40px;
        height: 14px;

        @media #{$large-up} {
          background-position: right;
        }

        &:hover {
          opacity: .7;
        }
      }

      .icon-facebook {
        @include svg-image('/images/social/icon-facebook');
      }

      .icon-twitter {
        @include svg-image('/images/social/icon-twitter');
      }

      .icon-instagram {
        @include svg-image('/images/social/icon-instagram');
      }

      .icon-pinterest {
        @include svg-image('/images/social/icon-pinterest');
      }

      .icon-youtube {
        @include svg-image('/images/social/icon-youtube');
      }
    }


    // Styling for top of footer (line, spacing, etc.)

      @media #{$small-only} {
        border-top: 1px solid rgba(0,0,0,.10);
        padding-top: 1em;
        padding-bottom: 1em;
        margin-top: 2em;
      }

      @media #{$medium-only} {
        border-top: 1px solid rgba(0,0,0,.10);
        padding-top: 2em;
        padding-bottom: 2em;
        margin-top: 2em;
      }

      @media #{$large-up} {
        .columns {
          border-top: 1px solid rgba(0,0,0,.10);
          padding-top: 2em;
          padding-bottom: 2em;
          margin-top: 2em;
        }
      }
  }
