// Footer

  .page-footer {
    // Set type color & size
    p, li {
      font-size: .8em;
      color: $gray;
    }

    // Make the footer line height smaller
    p {
      margin-bottom: 8px;
    }

    .footer-social {
      @media #{$medium-up} {
        margin-top: -17px;
      }

      a {
        color: #929292;

        &:hover {
          color: #0c91b8;
        }
      }
    }


    // Styling for top of footer (line, spacing, etc.)

      @media #{$small-only} {
        border-top: 1px solid rgba(0,0,0,.10);
        padding-top: 1em;
        padding-bottom: 1em;
        margin-top: 2em;
      }

      @media #{$medium-only} {
        border-top: 1px solid rgba(0,0,0,.10);
        padding-top: 2em;
        padding-bottom: 2em;
        margin-top: 2em;
      }

      @media #{$large-up} {
        .columns {
          border-top: 1px solid rgba(0,0,0,.10);
          padding-top: 2em;
          padding-bottom: 2em;
          margin-top: 2em;
        }
      }
  }
