// Logo

// Logo general
.logo {
  width: 185px;
  height: 20px;
  background-repeat: no-repeat;
  @include svg-image('/images/branding/logo-black-black');
  display: block;
  text-indent: -999em;
  position: relative;
  z-index: 11;

  @media #{$small-only} {
    margin-top: -4px;
  }
}

.home .logo {
  @media #{$small-only} {
    margin: -3px auto 0;
    left: -5px;
  }
}


// Logo Variations

  // Light logo
  .header-light .logo {
    @include svg-image('/images/branding/logo-white-white');
  }

  // Red logo
  .header-red .logo {
    @include svg-image('/images/branding/logo-red-black');
  }

  // Home logo
  .home .logo {
    @media #{$small-only} {
      @include svg-image('/images/branding/logo-red-white');
    }
  }


// Header Section
.page-header {
  height: 60px;
  padding-top: 29px;

  @media #{$medium-up} {
    height: 80px;
  }
}

// Primary Links
.primary-links {
  position: relative;
  z-index: 11;
  text-transform: uppercase;

  @media #{$small-only} {
    margin-top: -5px;

    li {
      margin-bottom: 0;
    }
  }

  ul {
    margin-bottom: 0;
  }

  .copy {
    display: none !important;

    @media only screen and (min-width: 810px) {
      display: inline !important;
    }
  }

  a {
    font-family: "Helvetica Neue", sans-serif;
    color: $black;
    @include transition-property(color);
    @include transition-duration(.25s);
    font-weight: bold;
    font-size: rem-calc(14);
    margin-left: 15px;

    &:hover {
      color: darken($primary-color, 10%);
    }

    &:hover .more-line-1,
    &:hover .more-line-2,
    &:hover .more-line-3 {
      background: darken($primary-color, 10%) !important;
    }

    .live {
      position: absolute;
      top: -7px;
      margin-left: -10px;
      font-size: 9px;
      color: $red;

      &.alt {
        color: lighten($red, 20%);
      }
    }
  }
}

// Set "Live" status on thin watch links
.page-more .live {
  color: $red;

  &:before {
    content: "(";
  }

  &:after {
    content: ")";
  }
}

// "More" link
.nav-more,
.nav-close-more {
  padding-right: 20px;
}

// "More" hamburger icon

  // Top menu icon
  @media #{$small-only} {
    .nav-more,
    .nav-close-more {
      display: block;
      height: 40px !important;
      margin-bottom: -10px;
    }
  }

  // Hamburger lines
  .more-line-1,
  .more-line-2,
  .more-line-3 {
    @include transition-property(all);
    @include transition-duration(.25s);
    height: 2px;
    width: 15px;
    background: $black;
    display: block;
    position: absolute;
    right: 0;
    opacity: 1;
  }

  // Hamburger line uniques
  .more-line-1 { top: 6px; }
  .more-line-2 { top: 10px; }
  .more-line-3 { top: 14px; }

  // Hamburger line 1 alt state
  .nav-close-more .more-line-1 {
    opacity: 0;
    top: 10px;
  }

  // Hamburger line 2 alt state
  .nav-close-more .more-line-2 {
    transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
  }

  // Hamburger line 3 alt state
  .nav-close-more .more-line-3 {
    transform:rotate(-45deg);
    -ms-transform:rotate(-45deg);
    -webkit-transform:rotate(-45deg);
    top: 10px;
  }


// Set active color on nav items if in the right sections
.section-watch .nav-watch a,
.section-locations .nav-locations a,
.section-giving .nav-giving a {
  color: $primary-color;
}


// Tertiary navigation

  // Section
  .page-tertiary {
    margin-bottom: 2em;
    border-bottom: 1px solid rgba(0,0,0,.10);
    z-index: 10;
    position: relative;

    // Prevent buttons from changing the alignment / size
    .button {
      margin-bottom: 0;
    }
  }

  // The navigation itself
  .tertiary-nav {
    margin-top: 10px;
    margin-bottom: 15px;
    z-index: 1;
    position: relative;

    a {
      color: #444;
      font-size: rem-calc(20);
      font-weight: 300;
    }

    a:before {
      content: " / ";
      margin-left: 9px;
      margin-right: 6px;
      color: rgba(0,0,0,.2);
    }

    .header-light & a:before {
      color: rgba(#fff,.5);
    }

    a:first-child:before {
      content: "";
      margin-left: 0;
      margin-right: 0;
    }

    a:not([href~="#"]):hover {
      color: $primary-color;
    }
  }
