// Logo
  
  // Logo general
  .logo {
    margin-top: -8px;
    width: 66px;
    height: 44px;
    display: block;
    position: relative;
    z-index: 11;
  }

  // Logo font icon transitioning
  .logo:after {
    @include transition-property(all);
    @include transition-duration(.25s);
  }

  // Hide logo title text
  .logo span {
    display: none;
  }

  // Logo font icon
  .logo:after {
    content: "\31";
    text-indent: 0;
    font-family: 'lctv';
    font-size: 36px;
    color: $body-font-color;
  }

  // Logo font icon hover
  .logo:hover:after {
    color: #555;
  }


// Logo Variations
  
  // Light logo

    .header-light .logo:after {
      color: #fff;
      opacity: .75
    }

    // Light logo hover
    .header-light .logo:hover:after {
      opacity: 1;
    }

    // Legacy fallback
    .lt-ie9 .header-light .logo {
      background: url('/images/branding/logomark-white.png') no-repeat;
    }


  // Red logo

    .header-red .logo:after {
      color: $red;
    }

    // Red logo hover
    .header-red .logo:hover:after {
      color: darken($red, 10%);
    }

    // Legacy fallback
    .lt-ie9 .header-red .logo {
      background: url('/images/branding/logomark-red.png') no-repeat;
    }


  // Logo fallback 
  .lt-ie9 .logo {
    background: url('/images/branding/logomark-black.png') no-repeat;

    &:after {
      display: none;
    }
    
    &:hover {
      opacity: .7;
    }

    span {
      display: block;
    }
  }


// Header Section
.page-header {
  height: 80px;
  padding-top: 29px;
}

// Primary Links
.primary-links {
  position: relative;
  z-index: 11;
  text-transform: uppercase;

  a {
    font-family: "Helvetica Neue", sans-serif;
    color: $black;
    @include transition-property(color);
    @include transition-duration(.25s);
    font-weight: bold;
    font-size: rem-calc(14);
    margin-left: 15px;

    &:hover {
      color: darken($primary-color, 10%);
    }

    &:hover .more-line-1,
    &:hover .more-line-2,
    &:hover .more-line-3 {
      background: darken($primary-color, 10%) !important;
    }
  }
}

// "More" link
.nav-more,
.nav-close-more {
  padding-right: 20px;
}

// "More" hamburger icon
  
  // Top menu icon
  @media #{$small-only} {
    .nav-more,
    .nav-close-more {
      display: block;
      height: 40px !important;
      margin-bottom: -10px;
    }
  }

  // Hamburger lines
  .more-line-1,
  .more-line-2,
  .more-line-3 {
    @include transition-property(all);
    @include transition-duration(.25s);
    height: 2px;
    width: 15px;
    background: $black;
    display: block;
    position: absolute;
    right: 0;
    opacity: 1;
  }

  // Hamburger line uniques
  .more-line-1 { top: 6px; }
  .more-line-2 { top: 10px; }
  .more-line-3 { top: 14px; }

  // Hamburger line 1 alt state
  .nav-close-more .more-line-1 {
    opacity: 0;
    top: 10px;
  }

  // Hamburger line 2 alt state
  .nav-close-more .more-line-2 {
    transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
  }

  // Hamburger line 3 alt state
  .nav-close-more .more-line-3 {
    transform:rotate(-45deg);
    -ms-transform:rotate(-45deg);
    -webkit-transform:rotate(-45deg);
    top: 10px;
  }


// Set active color on nav items if in the right sections
.section-watch .nav-watch a,
.section-locations .nav-locations a,
.section-giving .nav-giving a {
  color: $primary-color;
}


// Tertiary navigation
  
  // Section
  .page-tertiary {
    margin-bottom: 2em;
    border-bottom: 1px solid rgba(0,0,0,.10);
    z-index: 5;
    position: relative;

    // Prevent buttons from changing the alignment / size
    .button {
      margin-bottom: 0;
    }
  }

  // Save space on landscape mobiles
  @media #{$small-only} and (orientation: landscape) {
    .tertiary-header {
      width: 200px;
      top: -58px;
      left: 75px;
      margin-bottom: -10px;
      border: none;

      a {
        font-size: 1em !important;
        text-transform: uppercase;
        font-family: "Helvetica Neue", sans-serif;
        color: $black;
        font-weight: bold !important;
        font-size: rem-calc(14) !important;
      }
    }
  }

  // The navigation itself
  .tertiary-nav {
    margin-top: 10px;
    margin-bottom: 15px;
    z-index: 1;
    position: relative;

    a {
      color: #444;
      font-size: rem-calc(20);
      font-weight: 300;
    }

    a:before {
      content: " / ";
      margin-left: 9px;
      margin-right: 6px;
      color: rgba(0,0,0,.2);
    }

    a:first-child:before {
      content: "";
      margin-left: 0;
      margin-right: 0;
    }

    a:not([href~="#"]):hover {
      color: $primary-color;
    }
  }