.involved-list {

  .cta {
    position: relative;
    height: 40px;
    @include transition-property(height);
    @include transition-duration(.5s);
  }

  .cta.open {
    height: 300px;

    @media #{$medium-up} {
      height: 310px;
    }

    @media #{$large-up} {
      height: 260px;
    }
  }

  .cta.sent {
    height: 80px;
  }

  form {
    position: absolute;
    top: -15px;
    width: 100%;
  }

}
