// "More" navigation

  html {
    @include transition-property(background-color);
    @include transition-duration(.25s);
  }

  .html-more {
    background-color: #fff;
  }

  .page-header {
    @include transition-property(margin-top);
    @include transition-duration(.5s);
  }

  .html-more .has-alerts .page-more {
    margin-top: 44px;
  }

  .no-touch .page-more {
    -webkit-tap-highlight-color: transparent;
  }

  .page-more {
    background: #fff;
    z-index: 10;

    @media #{$small-only} {
      border-top: 1px solid #ddd;
      margin-top: 50px;
    }

    @media #{$medium-up} {
      .row {
        padding: 5px 0;
      }

      p {
        margin-top: 10px;
        margin-bottom: 0;
      }
    }
  }

  .no-js .page-more {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .js .page-more {
    padding-top: 40px;

    @media #{$medium-up} {
      padding-top: 0;
      display: none;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
    }
  }

  .page-more-inner {
    position: relative;
    top: 0;
    background: #fff;
  }

  .page-more a {
    display: block;
    margin: 0 -10px;
    padding: 0 10px;

    @media #{$small-only} {
      padding: 10px;

      p {
        margin: 0;
      }
    }
  }

  .no-touch .page-more a:hover {
    background-color: #e7faff;
  }


// Make descriptions in "more" smaller than normal paragraphs
.page-more-inner p {
  font-size: .9em;

  @media #{$medium-up} {
    font-size: 1em;
  }
}

// More header positioning
.page-more-inner h4 {
  margin: 7px 0 8px;
}

.more-watch-small {
  margin: 0 -15px !important;
  padding: 15px !important;
}

@media #{$small-only} {
  .home .page-more {
    margin-top: -5px !important;
  }

  .page-more h4 {
    margin-bottom: 2px !important;
  }
}
