// Push element down

  .padded {
    padding-top: 3.5em;
  }

  .large-padded {
    @media #{$medium-up} { padding-top: 3.5em; }
  }

  img.padded {
    @media #{$small-only} { padding-top: 0; }
  }


// The sections themselves

  .page-section {
    padding-top: 1.5em;
    padding-bottom: 1.5em;

    @media only screen and (min-height: 620px) {
      padding-top: 4em;
      padding-bottom: 4em;
    }

    @media #{$small-only} {
      padding-top: 1em;
      padding-bottom: 1em;
    }
  }

  .section-alt {
    background: #f6f9fa;
  }

  .panel {
    background: #fff;
    margin: 0 1px 1px 0 !important;
  }

  a:hover .panel {
    border-color: $primary-color;
  }

  a .panel {
    border-color: #d8d8d8;
    
    h1,h2,h3,h4,h5,h6 {
      margin-top: 15px !important;
      margin-bottom: 0 !important;
    }
  }


  // First section (pull it over the navigation)
  .section-first {
    margin-top: -165px;
    padding-top: 165px;
  }
  
  // Last section (pull footer closer)
  .section-last {
    margin-bottom: -40px;
  }

  // Last section (darken to match default footer color when "light")
  .section-last.section-light {
    background: $black;
  }

  // Change section coloring to white
  .section-light {

    h1,h2,h3,h4,h5,h6,p,a,.button {
      color: #fff;
      border-color: #fff;
    }
  }

  // Change navigation coloring to white if first section is white
  .header-light {
    .nav-more .more-line {
      background: #fff !important;
    }

    .nav-more:hover .more-line {
      background: #ccc !important;
    }

    .primary-links a {
      color: #fff;

      &:hover {
        color: #ccc;
      }
    }

    .page-tertiary {
      border-color: rgba(255,255,255,.4);
    }

    .tertiary-nav a {
      color: #fff !important;
    }
  }

  // Change footer navigation coloring to white if last section is white
  .footer-light {
    .page-footer {
      background: $black;
      border-color: rgba(255,255,255,.4) !important;

      .columns {
        border-color: rgba(255,255,255,.4) !important;
      }

      p {
        color: #fff !important;
      }

      a {
        color: lighten($primary-color, 30%);
      }
    }
  }


// Hero Photos
  
  // General
  .hphoto {
    margin: 0;
    padding: 0;
    height: 200px;
    position: relative;

    @media #{$medium-up} {
      height: 350px;
    }
  }

  // If the top of the page has one
  .hphoto-top {
    margin-top: -165px;
    padding-top: 165px;
    height: 200px;

    @media only screen and (min-height: 620px) {
      height: 300px;
    }

    @media #{$small-only} {
      height: 200px;
    }
  }

  // Large
  .hphoto-large  {
    height: 200px;

    @media #{$medium-up} {
      height: 500px;
    }
  }

  // Extra large
  .hphoto-xlarge {
    height: 200px;

    @media #{$medium-up} {
      height: 700px;
    }
  }


// Modifications to button dropdowns

  .f-dropdown:before {
    left: 15px;
  }

  .f-dropdown:after {
    left: 14px;
  }

  .dropdown.button::before,
  button.dropdown::before {
    left: 1rem;
  }

  .button.dropdown {
    padding-left: 2.5rem;
    padding-right: 2em !important;
  }
