// Page Section styles

  .padded {
    padding-top: 3em;
  }

  .page-section {
    padding-top: 1em;
    padding-bottom: 1em;
    @media only screen and (min-height: 620px) {
      padding-top: 3em;
      padding-bottom: 3em;
    }
    @media #{$small-only} {
      padding-top: 1em;
      padding-bottom: 1em;
    }
  }

  // First section (pull it over the navigation)
  .section-first {
    margin-top: -165px;
    padding-top: 165px;
  }
  
  // Last section (pull footer closer)
  .section-last {
    margin-bottom: -40px;
  }

  // Last section (darken to match default footer color when "light")
  .section-last.section-light {
    background: $black;
  }

  // Change section coloring to white
  .section-light {
    h1,h2,h3,h4,h5,h6,p,a,.button {
      color: #fff !important;
      border-color: #fff !important;
    }
  }

  // Change navigation coloring to white if first section is white
  .header-light {
    .nav-more span {
      background: #fff !important;
    }
    .nav-more:hover span {
      background: #ccc !important;
    }
    .logo {
      @include svg-image('/images/branding/logomark-white');
    }
    .primary-links a {
      color: #fff;
      &:hover { color: #ccc; }
    }
    .page-tertiary {
      border-color: rgba(255,255,255,.4);
    }

    .tertiary-nav a {
      color: #fff !important;
    }
  }

  // Red logo & red titles when "header-red" gets applied
  .header-red .logo { @include svg-image('/images/branding/logomark-red'); }
  .header-red h1, .header-red h2 { color: $red; }

  // Change footer navigation coloring to white if last section is white
  .footer-light {
    .page-footer {
      background: $black;
      border-color: rgba(255,255,255,.4) !important;
      .columns {
        border-color: rgba(255,255,255,.4) !important;
      }
      p { color: #fff !important; }
      a { color: lighten($primary-color, 30%); }
    }
  }


// Hero Photos

.hphoto {
  margin: 0;
  padding: 0;
  height: 350px;
  position: relative;
}

.hphoto-top {
  margin-top: -165px;
  padding-top: 165px;
  height: 200px;
  @media only screen and (min-height: 620px) { height: 300px; }
  @media #{$small-only} { height: 200px; }
}


.f-dropdown:before { left: 15px; }
.f-dropdown:after { left: 14px; }

.dropdown.button::before,
button.dropdown::before {
  left: 1rem;
}

.button.dropdown {
  padding-left: 2.5rem;
  padding-right: 2em !important;
}

.hphoto-large  { height: 400px; }
.hphoto-xlarge { height: 600px; }