// Type colors
.text-primary { color: $primary-color; }
.text-secondary { color: $secondary-color; }
.text-red { color: $red; }
.text-gray { color: $gray; }
h1 { color: #333; }
h2 { color: #444; }
h3 { color: #555; }

h1 {
  font-weight: 600;
  margin-top: 25px;
  margin-bottom: 30px;
}

h2,h3,h4,h6 {
  color: #444;
}

h2 {
  font-size:2.3rem !important;
  margin-top: 40px !important;
  padding-bottom: .3em;
}

h5 { font-weight: 300; }

h5 {
  font-style: italic;
  color: $gray;
}

h6 {
  margin-top: 10px;
  font-weight: 600;
}

@media #{$medium-up} {
  h1,h2,h3 { letter-spacing: -1px; }
}


// Paragraphs within a hyperlink (rather the other way around) don't get active color
a p {
  color: $body-font-color;
}

// "Expand" images go full-width
img.expand {
  width: 100%;
  height: auto;
}

// Lead text
.lead {
  font-weight: 300;
  font-size: 1.7em !important;
  margin-bottom: 30px;
}

// Underline titles
.underlined {
  padding-bottom: 10px;
  margin-bottom: 1em;
  border-bottom: 1px solid rgba(0,0,0,.10) !important;
}

// Lighten the underline on light
.section-light .underlined {
  border-bottom: 1px solid rgba(225,225,225,.4) !important;
}

// Paragraphs larger and serif type
p {
  font-family: "ff-meta-serif-web-pro";
  color: #444;
  font-size: rem-calc(20);
  line-height: 1.7;
}

// Smaller paragraph
.detail {
  font-size: rem-calc(15);
}

// Tertiary links serif type
.tertiary-nav a {
  font-family: "ff-meta-serif-web-pro";
  font-weight: 300;
}

// Make regular action type & message descriptions serif type
.action,
.message h6 {
  font-family: "ff-meta-serif-web-pro";
  font-weight: 300;
}

// Make footer and large action messages default type
.page-footer p,
.action.large {
  font-family: $body-font-family;
}