// Type colors
  .text-primary {
    color: $primary-color !important;
  }

  .text-lprimary {
    color: #86def7 !important;
  }

  .text-secondary {
    color: $secondary-color !important;
  }

  .text-red {
    color: $red;
  }

  .text-gray {
    color: $gray;
  }

  .text-white {
    color: #fff !important;
  }

  .text-black {
    color: $body-font-color;
  }

  time.meta {
    margin: 0 0 30px;
    display: block;
    font-family: $header-font-family;
    color: #888;

    @media #{$medium-up} {
      margin: -15px 0 30px;
    }
  }

  .article-title a {
    color: $red;
  }

  img.expand {
    width: 100%;
  }

  figure {
    margin-left: 0;
    margin-right: 0;
  }


// Hover type colors

  a.text-primary:hover {
    color: darken($primary-color, 20%) !important;
  }

  a.text-lprimary:hover,
  .footer-light .page-footer a:hover {
    color: darken(#86def7, 20%) !important;
  }

  a.text-secondary:hover {
    color: darken($secondary-color, 15%) !important;
  }

  a.text-red:hover {
    color: darken($red, 15%);
  }

  a.text-gray:hover {
    color: darken($gray, 15%);
  }

  a.text-white:hover,
  .section-light a:hover {
    color: darken(#fff, 15%);
  }

  a.text-black:hover {
    color: lighten($body-font-color, 25%);
  }


// Type color within links

  a {
    h1,h2,h3,h4,h5,h6 {
      color: $primary-color !important;
    }

    :hover {
      h1,h2,h3,h4,h5,h6 {
        color: darken($primary-color, 15%);
      }
    }
  }


// Header colors

  h1 {
    color: #333;
  }

  h2,h3,h4,h6 {
    color: #444;
  }

  h1,h2,h3 {
    letter-spacing: -1px;
  }


// Remove iOS size adjusting
body {
  -webkit-text-size-adjust: none;
}

// Header 1

  h1 {
    font-weight: 600;
    margin-top: 25px;
    margin-bottom: 30px;

    @media #{$small-only} {
      margin-top: 0;
    }

    @media #{$small-only} and (orientation: landscape) {
      // Decrease spacing on landscape mobiles
      margin-bottom: 10px;
    }
  }

  .h1 {
    @extend h1;
  }


// Header 2

  h2 {
    font-size:1.6rem;
    margin-top: 25px !important;
    margin-bottom: 15px;

    @media #{$medium-up} {
      font-size:2.3rem;
      margin-top: 50px !important;
      padding-bottom: .3em;
      //margin-bottom: 20px;
    }
  }

  .h2 {
    @extend h2;
  }


// Header 3

  .h3 {
    @extend h3;
  }


// Header 4

  h4 {
    margin-top: .5em;

    @media #{$small-only} {
      font-weight: bold;
      margin-bottom: .9rem;
    }
  }

  .h4 {
    @extend h4;
  }


// Header 5

  h5 {
    font-weight: 300;
    font-style: italic;
    color: $gray;
  }

  .h5 {
    @extend h5;
  }


// Header 6

  h6 {
    margin-top: 10px;
    font-weight: 600;
  }

  .h6 {
    @extend h6;
  }


// Subheaders

  .subheader {
    font-size: .9em;
  }


// Figcaption

  figcaption {
    @extend h2;
    font-size: rem-calc(24);
    margin-top: 20px !important;
  }


// Rules

  hr {
    max-width: 970px;

    @media #{$medium-up} {
      margin-left: 15px;
      margin-right: 15px;
    }

    @media #{$large-up} {
      margin-left: auto;
      margin-right: auto;
    }
  }

  hr.thin {
    margin-left: 30%;
    margin-right: 30%;
  }


// Form elements

  label {
    @extend h6;
  }

  textarea {
    min-height: 200px;
  }


// Quotes

  blockquote {
    padding-left: 0;
    padding-right: 0;
    border: none;
    text-align: center;

    p {
      font-size: 1.2rem;
      line-height: 1.2em;
      color: #333;

      @media #{$medium-up} {
        font-size: 2.3rem;
        line-height: 1.4em;
      }
    }

    cite {
      font-size: 1rem;
      color: $red;

      @media #{$medium-up} {
        font-size: 1.3rem;
      }
    }

    &.quote-large {
      text-align: left;

      p {
        font-size: 1.2rem;
        line-height: 1.3em;
        font-family: $body-font-family;
        font-weight: 300;

        @media #{$medium-up} {
          font-size: 3rem;
        }
      }

      cite {
        font-size: 1rem;
        color: $red;

        @media #{$medium-up} {
          font-size: 1.5rem;
        }
      }
    }
  }

  .tweet-this {
    color: $primary-color !important;
    font-family: $body-font-family;
    font-style: italic;
    font-size: rem-calc(14);
    display: block;

    @media #{$medium-up} {
      font-size: rem-calc(20);
      display: inline;
    }

    &:hover {
      color: #888 !important;
    }
  }


// Paragraphs within a hyperlink (rather the other way around) don't get active color
a p {
  color: $body-font-color;
}

// Disc removal on lists
ul.no-disc {
  list-style: none;
  margin-left: 0;
}

// "Expand" images go full-width
img.expand {
  width: 100%;
  height: auto;
}

// Lead text
.lead {
  font-weight: 300;
  font-size: 1.2em !important;
  margin-bottom: 30px;
  @media #{$medium-up} {
    font-size: 1.7em !important;
  }
}

// Underline titles
.underlined {
  padding-bottom: 10px;
  margin-bottom: 1em;
  border-bottom: 1px solid rgba(0,0,0,.10) !important;
}

// Lighten the underline on light
.section-light .underlined {
  border-bottom: 1px solid rgba(225,225,225,.4) !important;
}

// Paragraphs larger and serif type
p {
  font-family: "ff-meta-serif-web-pro";
  color: #444;
  font-size: rem-calc(15);
  line-height: 1.7;

  @media #{$medium-up} {
    font-size: rem-calc(20);
  }
}

.page-section {
  p, ul, li {
    @media #{$small-only} {
      font-size: 1rem;
    }
  }

  ul, li {
    font-size: 1em;
  }
}

// Smaller paragraph
.detail {
  font-size: rem-calc(15);
}

// List items
ul li {
  @extend p;
  @extend .detail;
  margin-bottom: 10px;
}

// Detail list items
.detail li {
  margin-bottom: 0;
}

// Tertiary links serif type
.tertiary-nav a {
  font-family: $body-font-family;
}

// Make regular action type & message descriptions serif type
.action,
.message h6 {
  font-family: "ff-meta-serif-web-pro";
  font-weight: 300;
}

// Make footer and large action messages default type
.page-footer p {
  font-family: $body-font-family;
}

// Make main titles red if logo is also red
.header-red h1,
.header-red h2 {
  color: $red;
}

iframe {
  max-width: 100%;
}
