// Type colors
.text-primary { color: $primary-color; }
.text-secondary { color: $secondary-color; }
.text-red { color: $red; }
.text-gray { color: $gray; }
h1 { color: #333; }
h2 { color: #444; }
h3 { color: #555; }

body {
  -webkit-text-size-adjust: none;
}

h1 {
  font-weight: 600;
  margin-top: 25px;
  margin-bottom: 30px;
  // Decrease spacing on landscape mobiles
  @media #{$small-only} and (orientation: landscape) {
    margin-bottom: 10px;
  }
}

h2,h3,h4,h6 {
  color: #444;
}

h2 {
  font-size:1.6rem;
  margin-top: 20px !important;
  @media #{$medium-up} {
    font-size:2.3rem;
    margin-top: 40px !important;
    padding-bottom: .3em;
  }
}

h5 { font-weight: 300; }

h5 {
  font-style: italic;
  color: $gray;
}

h6 {
  margin-top: 10px;
  font-weight: 600;
}

h1,h2,h3 { letter-spacing: -1px; }

hr.thin {
  margin-left: 30%;
  margin-right: 30%;
}

blockquote {
  padding-left: 0;
  border: none;
  text-align: center;
  p {
    font-size: 1.2rem;
    @media #{$medium-up} { font-size: 2rem; }
    line-height: 1.2em;
    color: #333;
  }
  cite {
    font-size: 1rem;
    @media #{$medium-up} { font-size: 1.3rem; }
    color: $red;
  }

  &.quote-large {
    text-align: left;
    p {
      font-size: 1.2rem;
      @media #{$medium-up} { font-size: 3rem; }
      line-height: 1.3em;
      font-family: $body-font-family;
      font-weight: 300;
    }
    cite {
      font-size: 1rem;
      @media #{$medium-up} { font-size: 1.5rem; }
      color: $red;
    }
  }
}


// Paragraphs within a hyperlink (rather the other way around) don't get active color
a p {
  color: $body-font-color;
}

ul.no-disc {
  list-style: none;
  margin-left: 0;
}

// "Expand" images go full-width
img.expand {
  width: 100%;
  height: auto;
}

// Lead text
.lead {
  font-weight: 300;
  font-size: 1.2em !important;
  margin-bottom: 30px;
  @media #{$medium-up} {
    font-size: 1.7em !important;
  }
}

// Underline titles
.underlined {
  padding-bottom: 10px;
  margin-bottom: 1em;
  border-bottom: 1px solid rgba(0,0,0,.10) !important;
}

// Lighten the underline on light
.section-light .underlined {
  border-bottom: 1px solid rgba(225,225,225,.4) !important;
}

// Paragraphs larger and serif type
p {
  font-family: "ff-meta-serif-web-pro";
  color: #444;
  font-size: rem-calc(15);
  line-height: 1.7;
  @media #{$medium-up} {
    font-size: rem-calc(20);
  }
}

// Smaller paragraph
.detail {
  font-size: rem-calc(15);
}

// Tertiary links serif type
.tertiary-nav a {
  font-family: "ff-meta-serif-web-pro";
  font-weight: 300;
}

// Make regular action type & message descriptions serif type
.action,
.message h6 {
  font-family: "ff-meta-serif-web-pro";
  font-weight: 300;
}

// Make footer and large action messages default type
.page-footer p,
.action.large {
  font-family: $body-font-family;
}