.video-player {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 12;

  .wistia-flex-video {
    @include flex-video-container();

    iframe {
      height: 100%;
      width: 100%;
      margin-top: -20px;
    }
  }

  .video-player-inner {
    @media #{$small-only} {
      margin-top: 57px;
    }
  }

  .video-player-inner .social {
    position: absolute;
    top: 19px;
    left: 15px;
    width: 70%;

    @media #{$medium-up} {
      top: 15px;
    }
  }

  .button-twitter,
  .button-facebook,
  .button-gplus {
    width: 70px;
    display: block;
    float: left;
  }
  
  #___plus_0 {
    width: 62px !important;
  }

  .button-gplus iframe {
    width: 60px !important;
  }

  .close {
    color: #fff;
    font-size: 2em;
    position: absolute;
    right: 15px;
    top: 10px;
    z-index: 12;
    cursor: pointer;
  }
}

//for whenever the modal is visible, we don't want the body to be scrollable
.noscroll {
  overflow: hidden;
}
