---
layout: default
title: Archive
section: watch archive
permalink: /watch/archive/
class: header-red
---

<div class="row">
  <div class="large-12 columns">
    <h2>Message Archives</h2>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">

    {% for post in site.categories.watch limit:1000 %}
    {% for series in site.data.watch %}
    {% if series.id == post.series-id %}
    {% assign series = site.data.watch | find_first : "id", post.series-id %}
    {% capture date %}{{ post.date | date: '%Y' }}{% endcapture %}
    {% capture ndate %}{{ post.next.date | date: '%Y' }}{% endcapture %}


      {% if date != ndate %}
      </ul>
      <div class="row">
        <div class="medium-12 columns">
          <br />
          <h4 class="month">{{ post.date | date: '%Y' }}</h4>
          <br />
        </div>
      </div>
      <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
      {% endif %}

      <!-- Archive Item -->
      <li class="watch-item">
        <a href="{{ post.url }}">
          <div class="panel">
            <img data-interchange="[{{ series.image_small }}, (default)], [{{ series.image_medium }}, (medium)]" alt="{{ series.title }}" />
            <noscript><img src="{{ series.image_small }}" alt="{{ series.title }}"></noscript>

            <h6>{{ series.title }}</h6>
          </div>
        </a>
      </li>
    {% endif %}
    {% endfor %}
    {% endfor %}
    </ul>
  </div>
</div>
