---
layout: default
title: Archive
section: watch archive
permalink: /watch/archive/
---

  {% for post in site.categories.watch limit:1000 %}
    {% capture date %}{{ post.date | date: '%B %Y' }}{% endcapture %}
    {% capture ndate %}{{ post.next.date | date: '%B %Y' }}{% endcapture %}

    {% if date != ndate %}
    <div class="row">
      <div class="medium-12 columns">
        <br />
        <h4 class="month">{{post.date | date: '%B %Y'}}</h4>
        <br />
      </div>
    </div>
    {% endif %}

    <div class="row">
      <div class="medium-1 columns">
        <h5 class="date">{{post.date | date:"%b %d"}}</h5>
      </div>
      <div class="medium-11 columns">
        <p><a class="item" href='{{post.url}}'>{{post.title}}</a></p>
      </div>
    </div>
     
  {% endfor %}
