---
layout: default
title: Jobs
permalink: /jobs/
class: header-red jobs
---

<section class="page-section section-first section-jobs-top">
  <div class="row">
    <div class="large-6 columns small-text-center">
      <h1>It's more than a job.<br />It's a calling.</h1>
      <p>
        <a href="/job-listings/"
           class="action text-black"
           onclick="ga('send', 'event', 'Jobs', 'Click', 'All Openings');">
           View all openings <i class="icon icon-arrow"></i>
        </a>
        <a href="javascript:void(0);"
           data-video-player="0augyfzmnz"
           class="action text-black"
           onclick="_gaq.push(['_trackEvent', 'Jobs', 'Watch', 'Video Overview']);">
           Watch video <i class="icon icon-arrow"></i>
        </a>
      </p>
    </div>
  </div>
</section>

<section class="page-section section-alt">
  <div class="row">
    <div class="large-9 large-centered columns text-center">
      <p class="lead">When you ask us what we do at LifeChurch.tv, you won’t just get a job description &mdash; you’ll hear a story.</p>
      <p>We are passionate about using our talents for God’s purposes and that’s why we’ve dedicated our careers to a ministry, not a job title.</p>
    </div>
  </div>

  <div class="row padded">
    <div class="large-4 columns">
      <img src="/images/about/jobs-campus.jpg" data-interchange="[/images/about/jobs-campus.jpg, (default)], [/images/about/jobs-campus@2x.jpg, (retina)]" alt="Campus Jobs" />
      <noscript><img src="/images/about/jobs-campus.jpg" alt="Central Jobs" /></noscript>

      <h4>Campus</h4>
      <p class="detail">LifeChurch.tv is a multi-site church with locations, or campuses, all over the United States. Each campus has a dedicated team of pastors, administrators, and leaders who minister directly to the people who attend our church.</p>
      <a href="javascript:void(0);"
         data-video-player="uligpgbam9"
         class="action small"
         onclick="ga('send', 'event', 'Jobs', 'Watch', 'Video Campus');">
         Watch video <i class="icon icon-play"></i>
      </a>
    </div>

    <div class="large-4 columns">
      <img src="/images/about/jobs-central.jpg" data-interchange="[/images/about/jobs-central.jpg, (default)], [/images/about/jobs-central@2x.jpg, (retina)]" alt="Central Jobs" />
      <noscript><img src="/images/about/jobs-central.jpg" alt="Central Jobs" /></noscript>

      <h4>Central</h4>
      <p class="detail">Based in Edmond, Oklahoma, Central Support teams offer support and resources for all LifeChurch.tv locations. Through teams like LifeKids, LifeGroups &amp; LifeMissions, IT, Finance, Creative Media, and Digerati you can be a part of ministries making a difference around the world.</p>
      <a href="javascript:void(0);"
         data-video-player="0augyfzmnz"
         class="action small"
         onclick="ga('send', 'event', 'Jobs', 'Watch', 'Video Central');">
         Watch video <i class="icon icon-play"></i>
      </a>
    </div>

    <div class="large-4 columns">
      <img src="/images/about/jobs-leaders.jpg" data-interchange="[/images/about/jobs-leaders.jpg, (default)], [/images/about/jobs-leaders@2x.jpg, (retina)]" alt="Leaders Jobs" />
      <noscript><img src="/images/about/jobs-leaders.jpg" alt="Central Jobs" /></noscript>

      <h4>Leadership XP</h4>
      <p class="detail">LeadershipXP is an internship program, and then some. You won’t be asked to get coffee or to do busy work. This is about growing into the person God created you to be. </p>
      <a href="javascript:void(0);"
         data-video-player="g6cf5sojjm"
         class="action small"
         onclick="ga('send', 'event', 'Jobs', 'Watch', 'Video LeadershipXP');">
         Watch video <i class="icon icon-play"></i>
      </a>
    </div>
  </div>
</section>

<section class="page-section section-last jobs-meta">
  <div class="row">
    <div class="large-9 large-centered columns text-center">
      <h2>Way more than a paycheck.</h2>
      <p>So, you’ve been called to ministry. You’ve learned a little more about us – our values and our stories. There’s an opening that seems just right for you. But it’s so much more than that. There’s no such thing as a cushy job at LifeChurch.tv, so we go the extra mile to support you. We’ve listed our favorite perks below or you can <a href="https://s3.amazonaws.com/lctv-site/downloads/jobs/Jobs-Benefits.pdf" target="_blank">download a copy <i class="icon icon-download"></i></a> for more details.</p>
    </div>
  </div>

  <div class="row padded">
    <div class="medium-6 columns">
      <div class="row collapse">
        <div class="medium-2 columns">
          <img src="/images/jobs/icon-jobs-meta-devculture.svg" width="60" alt="Jobs icon" />
        </div>
        <div class="medium-10 columns">
          <h3>Development Culture</h3>
           <p class="detail">When you get better, we get better. So instead of a development program, we have a development culture. Continual learning and growth are part of being on the team, and you’ll have opportunities, support, and plenty of feedback to help you grow professionally and spiritually.</p>
        </div>
      </div>
    </div>

    <div class="medium-6 columns">
      <div class="row collapse">
        <div class="medium-2 columns">
          <img src="/images/jobs/icon-jobs-meta-team.svg" width="60" alt="Jobs icon" />
        </div>
        <div class="medium-10 columns">
          <h3>Team Appreciation Events & Retreats</h3>
           <p class="detail">We believe in expressing gratitude for a job well done. We also think it’s important for teams to be on the same page. Many teams take time together away from the office to learn, get to know each other better, celebrate, and share ideas for what’s ahead.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="medium-6 columns">
      <div class="row collapse">
        <div class="medium-2 columns">
          <img src="/images/jobs/icon-jobs-meta-401k.svg" width="60" alt="Jobs icon" />
        </div>
        <div class="medium-10 columns">
          <h3>Competitive 401K</h3>
          <p class="detail">We want to manage money well, both as a church and on our own. We have a matching 401K plan and make contributions on your behalf even if you don’t pay in.</p>
        </div>
      </div>
      
    </div>
    <div class="medium-6 columns">
      <div class="row collapse">
        <div class="medium-2 columns">
          <img src="/images/jobs/icon-jobs-meta-dress.svg" width="60" alt="Jobs icon" />
        </div>
        <div class="medium-10 columns">
          <h3>Dress Code: Come Dressed</h3>
          <p class="detail">Just like our church services, our dress code is simple: please do! Wear whatever makes you (and the people around you) ready to get the job done.</p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="medium-6 columns">
      <div class="row collapse">
        <div class="medium-2 columns">
          <img src="/images/jobs/icon-jobs-meta-phone.svg" width="60" alt="Jobs icon" />
        </div>
        <div class="medium-10 columns">
          <h3>Mobile Phone Allowance</h3>
          <p class="detail">You make and take calls for work on your mobile phone, so, we reimburse staff for expenses incurred as part of your role at LifeChurch.tv.</p>
        </div>
      </div>
    </div>
    <div class="medium-6 columns">
      <div class="row collapse">
        <div class="medium-2 columns">
          <img src="/images/jobs/icon-jobs-meta-technology.svg" width="60" alt="Jobs icon" />
        </div>
        <div class="medium-10 columns">
          <h3>Technology That Works as Hard as You Do</h3>
           <p class="detail">You’ll have the tools you need to do your job with excellence. Just like we use technology in our efforts to reach people for Christ, you’ll be well equipped for your role.</p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="medium-6 columns">
      <div class="row collapse">
        <div class="medium-2 columns">
          <img src="/images/jobs/icon-jobs-meta-staffdev.svg" width="60" alt="Jobs icon" />
        </div>
        <div class="medium-10 columns">
          <h3>Staff Development Dollars</h3>
          <p class="detail">We expect you to learn, but you know how you learn best. Each team member has a personal budget to use toward resources like books, training seminars, and workshops.</p>
        </div>
      </div>
    </div>
    <div class="medium-6 columns">
      <div class="row collapse">
        <div class="medium-2 columns">
          <img src="/images/jobs/icon-jobs-meta-vacation.svg" width="60" alt="Jobs icon" />
        </div>
        <div class="medium-10 columns">
          <h3>Flexible Vacation/Leave Plans</h3>
          <p class="detail">Working hard for something you believe in is incredibly rewarding. It also takes a lot of energy, so you’ll have plenty of time off for relaxing and recharging.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="medium-6 columns">
      <div class="row collapse">
        <div class="medium-2 columns">
          <img src="/images/jobs/icon-jobs-meta-wellness.svg" width="60" alt="Jobs icon" />
        </div>
        <div class="medium-10 columns">
          <h3>Wellness Reimbursement</h3>
          <p class="detail">We care about your well-being, so you’ll receive quarterly reimbursements for gym memberships, sporting fees, fitness equipment and more.</p>
        </div>
      </div>
    </div>
    <div class="medium-6 columns">
      <div class="row collapse">
        <div class="medium-2 columns">
          <img src="/images/jobs/icon-jobs-meta-workhard.svg" width="60" alt="Jobs icon" />
        </div>
        <div class="medium-10 columns">
          <h3>Work Hard - Have Fun</h3>
          <p class="detail">There’s a time to work hard, then there’s a time to play hard. And we like doing both with our LifeChurch.tv family. We learn, play, and laugh together on a regular basis.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row padded">
    <div class="medium-9 medium-centered columns text-center">
      <p class="lead">The perk that can’t be beat: Leading People to Become Fully Devoted Followers of Christ.</p>
    </div>
  </div>

  <div class="row">
    <p class="large-8 large-centered columns text-center">
      <a href="/job-listings/"
         class="action large"
         onclick="ga('send', 'event', 'Jobs', 'Click', 'All Openings');">
         View all openings <i class="icon icon-arrow"></i>
      </a>
    </p>
  </div>
</section>

{% include video-player.html id='0augyfzmnz' %}
{% include video-player.html id='uligpgbam9' %}
{% include video-player.html id='g6cf5sojjm' %}

