---
layout: default
title: Serving Opportunities
permalink: /serving/
class: kids serving header-red
---

<section class="page-section section-first kids-bg">
  <div class="row">
    <div class="medium-10 medium-centered text-center columns">
      <h1>Strapline about Serving goes Right Here.</h1>
    </div>
  </div>
  <div class="row">
    <div class="medium-8 medium-centered columns text-center">
      <p class="lead">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lipwig nigel mansell devilish cad robert winston cappuccino collector.</p>
    </div>
  </div>
</section>

<section class="page-section" id="church-online">
  <div class="row">
    <div class="large-8 large-centered text-center columns">
      <h2>Lorem ipsum dolor sit amet consectetur.</h2>
      <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lipwig nigel mansell devilish cad robert winston cappuccino collector sportacus ron jeremy.</p>
    </div>
  </div>

  <div class="row padded">
    <div class="large-12 columns">

      <ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-3 involved-list">
        {% for item in site.data.serving %}
        {% if item.location == "Online" %}
        {% capture type %}Serving{% endcapture %}
        {% include involved-item.html %}
        {% endif %}
        {% endfor %}
      </ul>

    </div>
  </div>
</section>

<figure class="hphoto hphoto-giving-tithe" data-stellar-background-ratio="0.9"></figure>

<section class="page-section" id="digital-missions">
  <div class="row">
    <div class="large-8 large-centered text-center columns">
      <h2>Lorem ipsum dolor sit amet consectetur.</h2>
      <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lipwig nigel mansell devilish cad robert winston cappuccino collector sportacus ron jeremy.</p>
    </div>
  </div>

  <div class="row padded">
    <div class="large-12 columns">

      <ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-3 involved-list">
        {% for item in site.data.serving %}
        {% if item.location == "Central" %}
        {% capture type %}Serving{% endcapture %}
        {% include involved-item.html %}
        {% endif %}
        {% endfor %}
      </ul>

    </div>
  </div>
</section>

<figure class="hphoto hphoto-giving-tithe" data-stellar-background-ratio="0.9"></figure>

<section class="page-section" id="campus">
  <div class="row">
    <div class="large-8 large-centered text-center columns">
      <h2>Lorem ipsum dolor sit amet consectetur.</h2>
      <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lipwig nigel mansell devilish cad robert winston cappuccino collector sportacus ron jeremy.</p>
      <p>
        <a href="/locations/"
           class="action"
           onclick="ga('send', 'event', 'Serving', 'Click', 'Campus');"
           data-my-campus="#serving">
           Serve at a campus <i class="icon icon-arrow"></i>
        </a>
      </p>
    </div>
  </div>

</section>
