---
layout: default
title: Serving Opportunities
permalink: /serving/
class: kids serving header-red
---

<section class="page-section section-first kids-bg">
  <div class="row">
    <div class="medium-10 medium-centered text-center columns">
      <h1>God wants to use you to make a difference.</h1>
    </div>
  </div>
  <div class="row">
    <div class="medium-8 medium-centered columns text-center">
      <p>Whether you're into numbers, words, technology, or people, God wants to use your gifts and skills to make a difference. There are several opportunties to serve at LifeChurch.tv no matter where you are in the world&mdash;including a local campus, Church Online, or at the Central Support Offices in Oklahoma.</p>
    </div>
  </div>
</section>

<section class="page-section" id="campus">
  <div class="row">
    <div class="large-8 large-centered text-center columns">
      <h2>Serve at a LifeChurch.tv Campus.</h2>
      <p>One of the best ways to meet people, develop relationships, and grow as a follower of Christ is to serve the local church. And it’s not just on the weekends! Serving opportunities are available seven days a week.</p>
      <p>
        <a href="/locations/"
           class="action"
           onclick="ga('send', 'event', 'Serving', 'Click', 'Campus');"
           data-my-campus="#serving">
           Serve at a campus <i class="icon icon-arrow"></i>
        </a>
      </p>
    </div>
  </div>

</section>

<section class="page-section section-alt" id="church-online">
  <div class="row">
    <div class="large-8 large-centered text-center columns">
      <h2>Reach the world through Church Online.</h2>
      <p>Church Online is a community of people all over the world experiencing God and connecting to others like never before. More than 100,000 people from over 224 countries and territories attending 60+ experience at Church Online each week.<p>
      <p><a href="http://live.lifechurch.tv">Experience Church Online <i class="icon icon-arrow"></i></a></p>
    </div>
  </div>

  <div class="row padded">
    <div class="large-12 columns">

      <ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-3 involved-list">
        {% for item in site.data.serving %}
        {% if item.location == "Online" %}
        {% capture type %}Serving{% endcapture %}
        {% include involved-item.html %}
        {% endif %}
        {% endfor %}
      </ul>

    </div>
  </div>
</section>

<section class="page-section" id="digital-missions">
  <div class="row">
    <div class="large-8 large-centered text-center columns">
      <h2>Support LifeChurch.tv at our Central Offices.</h2>
      <p>Based in Edmond, Oklahoma, Central Teams offer support and resources for all LifeChurch.tv campuses and ministries. Through LifeKids, LifeGroups, Information Technology, Finance, and Digerati you can be a part of equipping the local campuses and the global Church.</p>
    </div>
  </div>

  <div class="row padded">
    <div class="large-12 columns">

      <ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-3 involved-list">
        {% for item in site.data.serving %}
        {% if item.location == "Central" %}
        {% capture type %}Serving{% endcapture %}
        {% include involved-item.html %}
        {% endif %}
        {% endfor %}
      </ul>

    </div>
  </div>
</section>

