<!doctype html>
<!--[if lt IE 9]>       <html class="no-js lt-ie9" lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#" itemscope itemtype="http://schema.org/Article"> <![endif]-->
<!--[if gte IE 9]><!--> <html class="no-js" lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#" itemscope itemtype="http://schema.org/Article"> <!--<![endif]-->
  <head>
    <script src="//cdn.optimizely.com/js/707930009.js"></script>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% if page.section != 'home' %}{{ page.title }} | {% endif %}LifeChurch.tv</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}" />{% endif %}

    <link rel="stylesheet" href="/stylesheets/app.css" />

    {% if page.stylesheet == true %}
    <link rel="stylesheet" href="/stylesheets/watch/{{ page.assets }}/style.css" />
    {% endif %}

    <script src="/bower_components/modernizr/modernizr.js"></script>

    <!-- Typekit -->
    <script type="text/javascript" src="//use.typekit.net/odw8wsv.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <script src="http://fast.wistia.net/static/iframe-api-v1.js"></script>

    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      //ga('create', 'UA-3571547-95', 'lifechurch.tv');
      ga('create', 'UA-3571547-95', 'none');
      ga('send', 'pageview');
    </script>

    {% if page.section == 'watch' %}
    {% for series in site.data.watch %}
    {% if series.id == page.series-id %}
    <!-- Open Graph data -->
    <meta property="og:title" content="{{ series.title }}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="http://www.lifechurch.tv{{ page.url }}" />
    <meta property="og:image" content="{{ series.image_social }}" />
    <meta property="og:description" content="{{ series.description_medium }}" />
    <meta property="og:site_name" content="LifeChurch.tv" />
    <meta property="article:published_time" content="{{ page.date }}" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_image_large">
    <meta name="twitter:site" content="@lifechurchtv">
    <meta name="twitter:title" content="{{ series.title }}">
    {% unless series.description_small == '' %}<meta name="twitter:description" content="{{ series.description_small }}">{% endunless %}
    <meta name="twitter:image:src" content="{{ series.image_large }}">

    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="{{ series.title }}">
    <meta itemprop="image" content="{{ series.image_social }}">
    <meta itemprop="description" content="{{ series.description_medium }}">
    {% endif %}
    {% endfor %}
    {% endif %}
  </head>

  {% if page.class %}
  <body id="skrollr-body" class="{{ page.class }}">
  {% else %}
  <body id="skrollr-body">
  {% endif %}

    <!-- Announcement -->
    {% for announcement in site.data.announcement %}
    {% if announcement.active == true %}
    {% if page.section != 'announcements' %}
    <div data-alert class="alert-box {{ announcement.type }}">
      <div class="row">
        <div class="medium-12 columns">
          {% if announcement.url %}<a class="announcement-link" href="{{ announcement.url }}">{% endif %}
            <i class="announcement-icon icon-announcement-{{ announcement.icon }}"></i> {{ announcement.message }}
          {% if announcement.url %}</a>{% endif %}
        </div>
      </div>
    </div>
    {% endif %}
    {% endif %}
    {% endfor %}

    <!-- Page Header -->
    <header class="page-header">
      <div class="row">
        {% if page.section == "home" %}<div class="small-12 medium-3 large-3 columns">{% else %}<div class="small-4 medium-3 large-3 columns">{% endif %}
          <!-- Site Title -->
          <a class="logo" href="/"><span>LifeChurch.tv</span></a>
        </div>
        <div class="small-8 medium-9 large-9 columns">
          <!-- Primary Links -->
          <nav class="primary-links">
            <ul class="inline-list right">
              <li class="nav-watch hide-for-small"><a href="/watch/">Watch<span class="copy"> a message</span><span class="live hide"> Live</span></a></li>
              <li class="nav-locations hide-for-small"><a href="/locations/">Locations</a></li>
              <li class="nav-giving hide-for-small"><a href="/giving/">Give</a></li>
              <li class="nav-new hide-for-small copy"><a href="/who-we-are/">New Here?</a></li>
              <li><a class="nav-more" href="#more"><span class="more-text hide-for-small">More</span><span class="more-text show-for-small">Menu</span><span class="more-line more-line-1"></span><span class="more-line more-line-2"></span><span class="more-line more-line-3"></span></a></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>

    <!-- Include tertiary here unless watch/locations -->
    {% unless page.section == 'home' %}
    {% unless page.section == 'watch' %}

    {% include tertiary.html %}

    {% endunless %}
    {% endunless %}

    <!-- Page Content -->
    {{ content }}

    <!-- "More" navigation -->
    {% include more.html %}

    <!-- Page Footer -->
    <footer id="footer" class="page-footer">
      <div class="footer-inner">
        <div class="row">
          <div class="small-12 large-6 large-push-6 columns">
            <ul class="inline-list large-right hide-for-small">
              <li><a href="/watch/">Watch</a></li>
              <li><a href="/locations/">Locations</a></li>
              <li><a href="/giving/">Give</a></li>
              <li><a href="/tools/">Apps &amp; Sites</a></li>
              <li><a href="/equipping-churches/">For Churches</a></li>
              <li><a href="/jobs/">Jobs</a></li>
              <li><a href="/contact/">Reach Us</a></li>
            </ul>

            <ul class="footer-social inline-list large-right">
              <li><a href="https://www.facebook.com/lifechurchtv" target="_blank"><i class="icon-social-facebook"></i> Facebook</a></li>
              <li><a href="https://twitter.com/lifechurchtv" target="_blank"><i class="icon-social-twitter"></i> Twitter</a></li>
              <li><a href="http://instagram.com/lifechurchtv" target="_blank"><i class="icon-social-instagram"></i> Instagram</a></li>
              <li><a href="http://www.pinterest.com/lifechurchtv/" target="_blank"><i class="icon-social-pinterest"></i> Pinterest</a></li>
              <li><a href="http://www.youtube.com/user/LifeChurchtv" target="_blank"><i class="icon-social-youtube"></i> YouTube</a></li>
            </ul>
          </div>

          <div class="small-12 large-6 large-pull-6 columns large-left">
            <p>Join us at <a href="http://live.lifechurch.tv" target="_blank">Church Online<i class="icon icon-window"></i></a>, a <a href="/locations">LifeChurch.tv physical location</a>, or a <a href="http://www.networkchurches.tv" target="_blank">Network Church<i class="icon icon-window"></i></a>.</p>
            <p>&copy; {{ site.time | date: '%Y' }} LifeChurch.tv. All rights reserved.</p>
          </div>
        </div>
      </div>
    </footer>

    <script src="/bower_components/jquery/jquery.min.js"></script>
    <script src="/bower_components/foundation/js/vendor/fastclick.js"></script>
    <script src="/bower_components/foundation/js/foundation/foundation.js"></script>
    <script src="/bower_components/foundation/js/foundation/foundation.dropdown.js"></script>
    <script src="/bower_components/foundation/js/foundation/foundation.interchange.js"></script>
    <script src="/bower_components/foundation/js/foundation/foundation.orbit.js"></script>
    <script src="/bower_components/foundation/js/foundation/foundation.magellan.js"></script>
    <script src="/bower_components/jquery.stellar/jquery.stellar.min.js"></script>

    <!-- CHOP counter -->
    <script src="/js/church_online_counter.js"></script>
    <!-- Cross-domain for CHOP counter -->
    <script src="/js/tomodo.korz-0.5.js"></script>

    <!-- Job parser for Newton -->
    <script src="/js/jobs-parser.js"></script>

    <!-- Stat animator -->
    <script src="/js/stat-animator.js"></script>

    <script src="/js/app.js"></script>

    {% if page.javascript == true %}
    <script src="/js/watch/{{ page.assets }}/script.js"></script>
    {% endif %}

    {% if page.skrollable == true %}
    <script src="/bower_components/skrollr/src/skrollr.js"></script>
    <script>
      $(function() {
        if ($(window).width() > 600) {
          var s = skrollr.init();
        }
      });
    </script>
    {% endif %}
  
    <!-- Crazy Egg -->
    <script type="text/javascript">
      setTimeout(function(){var a=document.createElement("script");
      var b=document.getElementsByTagName("script")[0];
      a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0017/7361.js?"+Math.floor(new Date().getTime()/3600000);
      a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
    </script>


  </body>
</html>
