<!doctype html>
<!--[if lt IE 9]>       <html class="no-js lt-ie9" lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#" itemscope itemtype="http://schema.org/Article"> <![endif]-->
<!--[if gte IE 9]><!--> <html class="no-js" lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#" itemscope itemtype="http://schema.org/Article"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% if page.section != 'home' %}{{ page.title }} | {% endif %}LifeChurch.tv</title>
    <link rel="stylesheet" href="/stylesheets/app.css" />

    {% if page.stylesheet == true %}
    <link rel="stylesheet" href="/stylesheets/watch/{{ page.assets }}/style.css" />
    {% endif %}

    <script src="/bower_components/modernizr/modernizr.js"></script>

    <!-- Typekit -->
    <script type="text/javascript" src="//use.typekit.net/odw8wsv.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <script src="http://fast.wistia.net/static/iframe-api-v1.js"></script>

    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-3571547-95', 'lifechurch.tv');
      ga('send', 'pageview');
    </script>

    {% if page.social %}
    <!-- Social Image (Facebook) -->
    <meta property="og:image" content="{{ page.social }}" />

    <!-- Social Image (Google+) -->
    <meta itemprop="name" content="{{ page.title }}">
    <meta itemprop="image" content="{{ page.social }}">
    {% if page.section == 'watch' %}
    <!-- Google+ description on Watch pages -->
    <meta itemprop="description" content="{{ page.description_small }}">
    {% endif %}
    {% endif %}
    <script src="http://tomodo-tools.s3.amazonaws.com/tomodo.korz-0.5.js"></script>
  </head>

  {% if page.class %}
  <body id="skrollr-body" class="{{ page.class }}">
  {% else %}
  <body id="skrollr-body">
  {% endif %}

    <!-- Announcement -->
    {% for announcement in site.data.announcement %}
    {% if announcement.active == true %}
    <div data-alert class="alert-box {{ announcement.type }}">
      <div class="row">
        <div class="medium-12 columns">
          {{ announcement.message }}
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}

    <!-- Page Header -->
    <header class="page-header">
      <div class="row">
        <div class="small-4 medium-3 large-3 columns">
          <!-- Site Title -->
          <a class="logo" href="/"><span>LifeChurch.tv</span></a>
        </div>
        <div class="small-8 medium-9 large-9 columns">
          <!-- Primary Links -->
          <nav class="primary-links">
            <ul class="inline-list right">
              <li class="nav-watch hide-for-small"><a href="/watch/">Watch<span class="copy"> a message</span><span class="live hide"> Live</span></a></li>
              <li class="nav-locations hide-for-small"><a href="/locations/">Locations</a></li>
              <li class="nav-giving hide-for-small"><a href="/giving/">Give</a></li>
              <li class="nav-new hide-for-small"><a href="/who-we-are/">Newcomers</a></li>
              <li><a class="nav-more" href="#more"><span class="more-text hide-for-small">More</span><span class="more-text show-for-small">Menu</span><span class="more-line more-line-1"></span><span class="more-line more-line-2"></span><span class="more-line more-line-3"></span></a></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>

    <!-- Include tertiary here unless watch/locations -->
    {% unless page.section == 'home' %}
    {% unless page.section == 'watch' %}

    {% include tertiary.html %}

    {% endunless %}
    {% endunless %}

    <!-- Page Content -->
    {{ content }}

    <!-- "More" navigation -->
    {% include more.html %}

    <!-- Page Footer -->
    <footer id="footer" class="page-footer">
      <div class="footer-inner">
        <div class="row">
          <div class="small-12 large-6 large-push-6 columns">
            <ul class="inline-list large-right hide-for-small">
              <li><a href="/watch/">Watch</a></li>
              <li><a href="/locations/">Locations</a></li>
              <li><a href="/giving/">Give</a></li>
              <li><a href="/tools/">Apps &amp; Sites</a></li>
              <li><a href="/digital-missions/#churches">For Churches</a></li>
              <li><a href="/jobs/">Jobs</a></li>
              <li><a href="/contact/">Reach Us</a></li>
            </ul>

            <ul class="footer-social inline-list large-right">
              <li><a class="icon-facebook" href="#">Facebook</a></li>
              <li><a class="icon-twitter" href="#">Twitter</a></li>
              <li><a class="icon-instagram" href="#">Instagram</a></li>
              <li><a class="icon-pinterest" href="#">Pinterest</a></li>
              <li><a class="icon-youtube" href="#">YouTube</a></li>
            </ul>
          </div>

          <div class="small-12 large-6 large-pull-6 columns large-left">
            <p>Join us at <a href="http://live.lifechurch.tv">Church Online</a>, a <a href="/locations">LifeChurch.tv physical location</a>, or a <a href="http://www.networkchurches.tv">Network Church</a>.</p>
            <p>&copy; {{ site.time | date: '%Y' }} LifeChurch.tv. All rights reserved.</p>
          </div>
        </div>
      </div>
    </footer>

    <script src="/bower_components/jquery/jquery.min.js"></script>
    <script src="/bower_components/foundation/js/vendor/fastclick.js"></script>
    <script src="/bower_components/foundation/js/foundation/foundation.js"></script>
    <script src="/bower_components/foundation/js/foundation/foundation.dropdown.js"></script>
    <script src="/bower_components/foundation/js/foundation/foundation.interchange.js"></script>
    <script src="/bower_components/foundation/js/foundation/foundation.orbit.js"></script>
    <script src="/bower_components/foundation/js/foundation/foundation.magellan.js"></script>
    <script src="/bower_components/jquery.stellar/jquery.stellar.min.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/church_online_counter.js"></script>
    <script src="/js/jobs-parser.js"></script>

    {% if page.javascript == true %}
    <script src="/js/watch/{{ page.assets }}/script.js"></script>
    {% endif %}

    {% if page.skrollable == true %}
    <script src="/bower_components/skrollr/src/skrollr.js"></script>
    <script>
      $(function() {
        if ($(window).width() > 600) {
          var s = skrollr.init();
        }
      });
    </script>
    {% endif %}

  </body>
</html>
