---
layout: default
section: locations
---

{% assign location = site.data.locations | find_first : "id", page.location-id %}

<!-- Page Main -->
<div class="page-main">

  <section class="locations-hero page-section section-first section-light">
    <div class="row">
      <div class="large-8 large-centered columns text-center">
        <h1>{{ location.title }}</h1>
        <p class="lead">{{ location.description }}</p>
      </div>
    </div>
  </section>

  <section class="tiles">
    {{ content }}
  </section>

  <section class="updates">
    <div class="row">
      <div class="large-12 columns">
        {% include tertiary.html %}
      </div>
    </div>
  </section>

</div>