---
layout: default
section: watch
class: section-watch
---

{% assign series = site.data.watch | find_first : "id", page.series-id %}
{% include tertiary.html %}

<!-- Page Main -->
<div class="page-main">
  {{ content }}

  <section class="watch-messages page-section section-last section-light" id="messages">
    <div class="row">
      <div class="large-6 columns">
        <h2 class="underlined">In this series</h2>
        {% include watch-messages.html %}
      </div>
    </div>
  </section>

</div>

<div class="series-locator">series-{{ series.id }}</div>